In [15]:
import os
os.chdir('/home/users/richras/Ge2Net_Repo/')
import os.path as osp
import numpy as np
import pandas as pd
import allel
from helper_funcs import vcf2npy

In [22]:
in_path="/scratch/groups/cdbustam/richras/data_in"
out_path="/scratch/groups/cdbustam/richras/data_out"

In [24]:
metadata_filename = osp.join(in_path,"dogs/Metadata_May2018.xlsx")
metadata = pd.read_excel(open(metadata_filename, 'rb'), engine='openpyxl')
metadata

,Name_ID,Breed/CommonName,BioProject,BioSample,Sex,CoverageAll,CoverageX,CoverageRatio,AnalysisName_Phylo,Phylo_Results,Phylo_Bootstrap,Phylo_Notes,Other_Information,Unnamed: 13
0,AfghanHound01,Afghan Hound,PRJNA208087,SAMN02194722,M,28.37080,15.38870,1.843613,AFGH01_xxx,Afghan Hound,100,NaN,Clone of SCN Donor,NaN
1,AfghanHound03,Afghan Hound,PRJNA232497,SAMN02485564,F,7.64333,7.71598,0.990584,AFGH03_xxx,Afghan Hound,100,NaN,NaN,NaN
2,AfghanHound04,Afghan Hound,PRJNA266585,SAMN03168377,M,17.56610,9.92331,1.770186,AFGH04_xxx,Afghan Hound,100,NaN,NaN,NaN
3,AiredaleTerrier01,Airedale Terrier,PRJNA263947,SAMN03580381,M,15.57180,9.14245,1.703241,AIRT01_xxx,Airedale Terrier,100,NaN,NaN,NaN
4,AiredaleTerrier02,Airedale Terrier,PRJNA263947,SAMN03580390,F,34.66110,35.08430,0.987938,AIRT02_xxx,Airedale Terrier,100,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,PER00806,Yorkshire Terrier,NaN,NaN,M,13.42880,8.77737,1.529934,PER00806_x,Yorkshire Terrier,100,NaN,NaN,NaN
719,PER00816,Yorkshire Terrier,NaN,NaN,M,16.05820,9.56801,1.678322,PER00816_x,Yorkshire Terrier,100,NaN,NaN,NaN
720,YorkshireTerrier01,Yorkshire Terrier,PRJEB13468,SAMEA3928145,M,21.18020,11.88950,1.781421,YORK01_xxx,Yorkshire Terrier,100,NaN,NaN,NaN
721,YorkshireTerrier02,Yorkshire Terrier,PRJNA299099,SAMN04195509,M,32.97570,18.44320,1.787960,YORK02_xxx,Yorkshire Terrier,100,NaN,NaN,NaN
722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# remove the rows that have null for Breed/CommonName
metadata = metadata[~metadata["Breed/CommonName"].isnull()]

In [29]:
ref_map = metadata[~metadata["Breed/CommonName"].str.contains("Wolf|Coyote|Dhole|Andean Fox|Jackal")].\
reset_index(drop=True)
ref_map

,Name_ID,Breed/CommonName,BioProject,BioSample,Sex,CoverageAll,CoverageX,CoverageRatio,AnalysisName_Phylo,Phylo_Results,Phylo_Bootstrap,Phylo_Notes,Other_Information,Unnamed: 13
0,AfghanHound01,Afghan Hound,PRJNA208087,SAMN02194722,M,28.37080,15.38870,1.843613,AFGH01_xxx,Afghan Hound,100,NaN,Clone of SCN Donor,NaN
1,AfghanHound03,Afghan Hound,PRJNA232497,SAMN02485564,F,7.64333,7.71598,0.990584,AFGH03_xxx,Afghan Hound,100,NaN,NaN,NaN
2,AfghanHound04,Afghan Hound,PRJNA266585,SAMN03168377,M,17.56610,9.92331,1.770186,AFGH04_xxx,Afghan Hound,100,NaN,NaN,NaN
3,AiredaleTerrier01,Airedale Terrier,PRJNA263947,SAMN03580381,M,15.57180,9.14245,1.703241,AIRT01_xxx,Airedale Terrier,100,NaN,NaN,NaN
4,AiredaleTerrier02,Airedale Terrier,PRJNA263947,SAMN03580390,F,34.66110,35.08430,0.987938,AIRT02_xxx,Airedale Terrier,100,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,PER00777,Yorkshire Terrier,NaN,NaN,M,16.50230,9.73722,1.694765,PER00777_x,Yorkshire Terrier,100,NaN,NaN,NaN
663,PER00806,Yorkshire Terrier,NaN,NaN,M,13.42880,8.77737,1.529934,PER00806_x,Yorkshire Terrier,100,NaN,NaN,NaN
664,PER00816,Yorkshire Terrier,NaN,NaN,M,16.05820,9.56801,1.678322,PER00816_x,Yorkshire Terrier,100,NaN,NaN,NaN
665,YorkshireTerrier01,Yorkshire Terrier,PRJEB13468,SAMEA3928145,M,21.18020,11.88950,1.781421,YORK01_xxx,Yorkshire Terrier,100,NaN,NaN,NaN
666,YorkshireTerrier02,Yorkshire Terrier,PRJNA299099,SAMN04195509,M,32.97570,18.44320,1.787960,YORK02_xxx,Yorkshire Terrier,100,NaN,NaN,NaN

In [31]:
len(np.unique(ref_map["Breed/CommonName"].values)), np.unique(ref_map["Breed/CommonName"].values)

(171, array(['Afghan Hound', 'Airedale Terrier', 'Alaskan Husky',
        'Alaskan Malamute', 'Alpine Dachsbracke',
        'American Hairless Terrier', 'Australian Cattle Dog',
        'Australian Terrier', 'Basenji',
        'Bavarian Hound (Bayerischer Gebirgsschweisshund)', 'Beagle',
        'Bearded Collie', 'Belgian Malinois', 'Belgian Sheepdog',
        'Belgian Tervuren', 'Berger Blanc Suisse', 'Berger Picard',
        'Bernese Mountain Dog', 'Black Russian Terrier',
        'Black and Tan Coonhound', 'Bloodhound', 'Border Collie',
        'Border Terrier', 'Borzoi', 'Boston Terrier',
        'Bouvier des Flandres', 'Boxer', 'Brittany', 'Bull Terrier',
        'Bulldog', 'Bullmastiff', 'Cairn Terrier', 'Cane Corso',
        'Carolina Dog', 'Caucasian Ovcharka',
        'Cavalier King Charles Spaniel', 'Chesapeake Bay Retriever',
        'Chihuahua', 'Chinese Crested', 'Chinese Indigenous Dog',
        'Chinese Shar-Pei', 'Chinook', 'Chongqing Dog', 'Chow Chow',
        'Clumber Spaniel', 'Cocker Spaniel (American)',
        'Curly-Coated Retriever', 'Dachshund', 'Dalmatian', 'Dingo',
        'Doberman Pinscher', 'East Siberian Laika', 'Elo',
        'English Cocker Spaniel', 'English Setter',
        'English Springer Spaniel', 'Entlebucher Sennenhund', 'Eurasier',
        'Field Spaniel', 'Finnish Lapphund', 'Flat-Coated Retriever',
        "Fonni's Dog", 'French Bulldog', 'German Hunting Terrier',
        'German Shepherd Dog', 'German Wirehaired Pointer',
        'Golden Retriever', 'Gordon Setter', 'Great Dane',
        'Great Pyrenees', 'Greater Swiss Mountain Dog', 'Greenland Dog',
        'Greyhound', 'Grossspitz', 'Heideterrier', 'Hovawart',
        'Irish Setter', 'Irish Terrier', 'Irish Water Spaniel',
        'Istrian Shorthaired Hound', 'Italian Greyhound',
        'Jack Russell Terrier', 'Jamthund', 'Jindo', 'Keeshond',
        'Kerry Blue Terrier', 'Komondor', 'KromfohrlÃ¤nder', 'Kunming Dog',
        'Labrador Retriever', 'Lagotto Romagnolo', 'Landseer',
        'Lapponian Herder', 'Leonberger', 'Lowchen',
        'MIX: American Cocker Spaniel and Beagle', 'MIX: Dachsund',
        'MIX: Golden Retriever', 'MIX: Kerry Blue Terrier and Beagle',
        'MIX: Labrador Retriever', 'MIX: Miniature Schnauzer and Beagle',
        'MIX: Mixed Breed', 'MIX: Siberian Husky', 'MIX: Tibetan Mastiff',
        'Mastiff (English)', 'Miniature Bull Terrier ', 'Miniature Poodle',
        'Miniature Schnauzer', 'New Guinea Singing Dog',
        'Nigerian Indigenous Dog', 'Norwegian Elkhound',
        'Norwegian Lundehund', 'Norwich Terrier',
        'Nova Scotia Duck Tolling Retriever', 'Pekingese',
        'Pembroke Welsh Corgi', 'Peruvian Inca Orchid',
        'Petit Basset Griffon Vendeen', 'Pointer (English)', 'Pomeranian',
        'Poodle unspecified variety', 'Portuguese Podengo',
        'Portuguese Water Dog', 'Pug', 'Qingchuan Dog',
        'Rhodesian Ridgeback', 'Rottweiler', 'Saint Bernard', 'Saluki',
        'Samoyed', 'Scottish Deerhound', 'Scottish Terrier',
        'Shetland Sheepdog', 'Shiba Inu', 'Shih Tzu', 'Siberian Husky',
        'Sloughi', 'Soft Coated Wheaten Terrier', 'Spanish Galgo',
        'Spanish Water Dog', 'Spinone Italiano', 'Standard Poodle',
        'Standard Schnauzer', 'Swedish Lapphund', 'Tibetan Mastiff',
        'Tibetan Mastiff - China', 'Tibetan Terrier', 'Tornjak',
        'Toy Poodle', 'UNKNOWN', 'Vietnamese Indigenous Dog',
        'Village Dog - Aboriginal Camp Dog', 'Village Dog - Borneo',
        'Village Dog - China', 'Village Dog - Egypt',
        'Village Dog - India', 'Village Dog - Lebanon',
        'Village Dog - Namibia', 'Village Dog - Papua New Guinea',
        'Village Dog - Portugal', 'Village Dog - Qatar',
        'Village Dog - Sub-Saharan Africa', 'Village Dog - Taiwan',
        'Village Dog - Vietnam', 'Vizsla', 'Weimaraner',
        'West Highland White Terrier', 'Whippet', 'Xiasi Dog',
        'Xoloitzcuintli', 'Yorkshire Terrier'], dtype=object))

In [32]:
sample_map = ref_map[["Name_ID", "Breed/CommonName"]]
sample_map

                Name_ID   Breed/CommonName
0         AfghanHound01       Afghan Hound
1         AfghanHound03       Afghan Hound
2         AfghanHound04       Afghan Hound
3     AiredaleTerrier01   Airedale Terrier
4     AiredaleTerrier02   Airedale Terrier
..                  ...                ...
662            PER00777  Yorkshire Terrier
663            PER00806  Yorkshire Terrier
664            PER00816  Yorkshire Terrier
665  YorkshireTerrier01  Yorkshire Terrier
666  YorkshireTerrier02  Yorkshire Terrier

[667 rows x 2 columns]

In [38]:
#save the sample map 
sample_map.to_csv(r'/scratch/groups/cdbustam/richras/data_in/dogs/expt2_sample.txt',\
                  header=None, index=None, sep='\t')