In [1]:
import os
os.chdir('/home/users/richras/Ge2Net_Repo/')
import os.path as osp
import numpy as np
import pandas as pd
import allel
from src.utils.dataUtil import vcf2npy

In [2]:
in_path="/scratch/groups/cdbustam/richras/data_in"
out_path="/scratch/groups/cdbustam/richras/data_out"

In [3]:
metadata_filename = osp.join(in_path,"dogs/Metadata_May2018.xlsx")
metadata = pd.read_excel(open(metadata_filename, 'rb'), engine='openpyxl')
metadata

,Name_ID,Breed/CommonName,BioProject,BioSample,Sex,CoverageAll,CoverageX,CoverageRatio,AnalysisName_Phylo,Phylo_Results,Phylo_Bootstrap,Phylo_Notes,Other_Information,Unnamed: 13
0,AfghanHound01,Afghan Hound,PRJNA208087,SAMN02194722,M,28.37080,15.38870,1.843613,AFGH01_xxx,Afghan Hound,100,NaN,Clone of SCN Donor,NaN
1,AfghanHound03,Afghan Hound,PRJNA232497,SAMN02485564,F,7.64333,7.71598,0.990584,AFGH03_xxx,Afghan Hound,100,NaN,NaN,NaN
2,AfghanHound04,Afghan Hound,PRJNA266585,SAMN03168377,M,17.56610,9.92331,1.770186,AFGH04_xxx,Afghan Hound,100,NaN,NaN,NaN
3,AiredaleTerrier01,Airedale Terrier,PRJNA263947,SAMN03580381,M,15.57180,9.14245,1.703241,AIRT01_xxx,Airedale Terrier,100,NaN,NaN,NaN
4,AiredaleTerrier02,Airedale Terrier,PRJNA263947,SAMN03580390,F,34.66110,35.08430,0.987938,AIRT02_xxx,Airedale Terrier,100,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,PER00806,Yorkshire Terrier,NaN,NaN,M,13.42880,8.77737,1.529934,PER00806_x,Yorkshire Terrier,100,NaN,NaN,NaN
719,PER00816,Yorkshire Terrier,NaN,NaN,M,16.05820,9.56801,1.678322,PER00816_x,Yorkshire Terrier,100,NaN,NaN,NaN
720,YorkshireTerrier01,Yorkshire Terrier,PRJEB13468,SAMEA3928145,M,21.18020,11.88950,1.781421,YORK01_xxx,Yorkshire Terrier,100,NaN,NaN,NaN
721,YorkshireTerrier02,Yorkshire Terrier,PRJNA299099,SAMN04195509,M,32.97570,18.44320,1.787960,YORK02_xxx,Yorkshire Terrier,100,NaN,NaN,NaN
722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# remove the rows that have null for Breed/CommonName
metadata = metadata[~metadata["Breed/CommonName"].isnull()]

In [5]:
ref_map = metadata[~metadata["Breed/CommonName"].str.contains("Wolf|Coyote|Dhole|Andean Fox|Jackal")].\
reset_index(drop=True)
ref_map

,Name_ID,Breed/CommonName,BioProject,BioSample,Sex,CoverageAll,CoverageX,CoverageRatio,AnalysisName_Phylo,Phylo_Results,Phylo_Bootstrap,Phylo_Notes,Other_Information,Unnamed: 13
0,AfghanHound01,Afghan Hound,PRJNA208087,SAMN02194722,M,28.37080,15.38870,1.843613,AFGH01_xxx,Afghan Hound,100,NaN,Clone of SCN Donor,NaN
1,AfghanHound03,Afghan Hound,PRJNA232497,SAMN02485564,F,7.64333,7.71598,0.990584,AFGH03_xxx,Afghan Hound,100,NaN,NaN,NaN
2,AfghanHound04,Afghan Hound,PRJNA266585,SAMN03168377,M,17.56610,9.92331,1.770186,AFGH04_xxx,Afghan Hound,100,NaN,NaN,NaN
3,AiredaleTerrier01,Airedale Terrier,PRJNA263947,SAMN03580381,M,15.57180,9.14245,1.703241,AIRT01_xxx,Airedale Terrier,100,NaN,NaN,NaN
4,AiredaleTerrier02,Airedale Terrier,PRJNA263947,SAMN03580390,F,34.66110,35.08430,0.987938,AIRT02_xxx,Airedale Terrier,100,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,PER00777,Yorkshire Terrier,NaN,NaN,M,16.50230,9.73722,1.694765,PER00777_x,Yorkshire Terrier,100,NaN,NaN,NaN
663,PER00806,Yorkshire Terrier,NaN,NaN,M,13.42880,8.77737,1.529934,PER00806_x,Yorkshire Terrier,100,NaN,NaN,NaN
664,PER00816,Yorkshire Terrier,NaN,NaN,M,16.05820,9.56801,1.678322,PER00816_x,Yorkshire Terrier,100,NaN,NaN,NaN
665,YorkshireTerrier01,Yorkshire Terrier,PRJEB13468,SAMEA3928145,M,21.18020,11.88950,1.781421,YORK01_xxx,Yorkshire Terrier,100,NaN,NaN,NaN
666,YorkshireTerrier02,Yorkshire Terrier,PRJNA299099,SAMN04195509,M,32.97570,18.44320,1.787960,YORK02_xxx,Yorkshire Terrier,100,NaN,NaN,NaN

In [6]:
# ref_map = metadata[~metadata["Breed/CommonName"].str.contains(r"\b(?:Wolf|Coyote|Dhole|Andean Fox|Jackal)\b", case=False)].\
# reset_index(drop=True)
# ref_map
# contains(r"\b(?:mix|unknown|vill)\b", case=False)

In [7]:
# ref_map[~ref_map["Name_ID"].isin(ref_map1["Name_ID"])]

In [6]:
len(np.unique(ref_map["Breed/CommonName"].values)), np.unique(ref_map["Breed/CommonName"].values)

(171, array(['Afghan Hound', 'Airedale Terrier', 'Alaskan Husky',
        'Alaskan Malamute', 'Alpine Dachsbracke',
        'American Hairless Terrier', 'Australian Cattle Dog',
        'Australian Terrier', 'Basenji',
        'Bavarian Hound (Bayerischer Gebirgsschweisshund)', 'Beagle',
        'Bearded Collie', 'Belgian Malinois', 'Belgian Sheepdog',
        'Belgian Tervuren', 'Berger Blanc Suisse', 'Berger Picard',
        'Bernese Mountain Dog', 'Black Russian Terrier',
        'Black and Tan Coonhound', 'Bloodhound', 'Border Collie',
        'Border Terrier', 'Borzoi', 'Boston Terrier',
        'Bouvier des Flandres', 'Boxer', 'Brittany', 'Bull Terrier',
        'Bulldog', 'Bullmastiff', 'Cairn Terrier', 'Cane Corso',
        'Carolina Dog', 'Caucasian Ovcharka',
        'Cavalier King Charles Spaniel', 'Chesapeake Bay Retriever',
        'Chihuahua', 'Chinese Crested', 'Chinese Indigenous Dog',
        'Chinese Shar-Pei', 'Chinook', 'Chongqing Dog', 'Chow Chow',
        'Clumber Spaniel', 'Cocker Spaniel (American)',
        'Curly-Coated Retriever', 'Dachshund', 'Dalmatian', 'Dingo',
        'Doberman Pinscher', 'East Siberian Laika', 'Elo',
        'English Cocker Spaniel', 'English Setter',
        'English Springer Spaniel', 'Entlebucher Sennenhund', 'Eurasier',
        'Field Spaniel', 'Finnish Lapphund', 'Flat-Coated Retriever',
        "Fonni's Dog", 'French Bulldog', 'German Hunting Terrier',
        'German Shepherd Dog', 'German Wirehaired Pointer',
        'Golden Retriever', 'Gordon Setter', 'Great Dane',
        'Great Pyrenees', 'Greater Swiss Mountain Dog', 'Greenland Dog',
        'Greyhound', 'Grossspitz', 'Heideterrier', 'Hovawart',
        'Irish Setter', 'Irish Terrier', 'Irish Water Spaniel',
        'Istrian Shorthaired Hound', 'Italian Greyhound',
        'Jack Russell Terrier', 'Jamthund', 'Jindo', 'Keeshond',
        'Kerry Blue Terrier', 'Komondor', 'KromfohrlÃ¤nder', 'Kunming Dog',
        'Labrador Retriever', 'Lagotto Romagnolo', 'Landseer',
        'Lapponian Herder', 'Leonberger', 'Lowchen',
        'MIX: American Cocker Spaniel and Beagle', 'MIX: Dachsund',
        'MIX: Golden Retriever', 'MIX: Kerry Blue Terrier and Beagle',
        'MIX: Labrador Retriever', 'MIX: Miniature Schnauzer and Beagle',
        'MIX: Mixed Breed', 'MIX: Siberian Husky', 'MIX: Tibetan Mastiff',
        'Mastiff (English)', 'Miniature Bull Terrier ', 'Miniature Poodle',
        'Miniature Schnauzer', 'New Guinea Singing Dog',
        'Nigerian Indigenous Dog', 'Norwegian Elkhound',
        'Norwegian Lundehund', 'Norwich Terrier',
        'Nova Scotia Duck Tolling Retriever', 'Pekingese',
        'Pembroke Welsh Corgi', 'Peruvian Inca Orchid',
        'Petit Basset Griffon Vendeen', 'Pointer (English)', 'Pomeranian',
        'Poodle unspecified variety', 'Portuguese Podengo',
        'Portuguese Water Dog', 'Pug', 'Qingchuan Dog',
        'Rhodesian Ridgeback', 'Rottweiler', 'Saint Bernard', 'Saluki',
        'Samoyed', 'Scottish Deerhound', 'Scottish Terrier',
        'Shetland Sheepdog', 'Shiba Inu', 'Shih Tzu', 'Siberian Husky',
        'Sloughi', 'Soft Coated Wheaten Terrier', 'Spanish Galgo',
        'Spanish Water Dog', 'Spinone Italiano', 'Standard Poodle',
        'Standard Schnauzer', 'Swedish Lapphund', 'Tibetan Mastiff',
        'Tibetan Mastiff - China', 'Tibetan Terrier', 'Tornjak',
        'Toy Poodle', 'UNKNOWN', 'Vietnamese Indigenous Dog',
        'Village Dog - Aboriginal Camp Dog', 'Village Dog - Borneo',
        'Village Dog - China', 'Village Dog - Egypt',
        'Village Dog - India', 'Village Dog - Lebanon',
        'Village Dog - Namibia', 'Village Dog - Papua New Guinea',
        'Village Dog - Portugal', 'Village Dog - Qatar',
        'Village Dog - Sub-Saharan Africa', 'Village Dog - Taiwan',
        'Village Dog - Vietnam', 'Vizsla', 'Weimaraner',
        'West Highland White Terrier', 'Whippet', 'Xiasi Dog',
        'Xoloitzcuintli', 'Yorkshire Terrier'], dtype=object))

In [7]:
sample_map = ref_map[["Name_ID", "Breed/CommonName"]]
sample_map

                Name_ID   Breed/CommonName
0         AfghanHound01       Afghan Hound
1         AfghanHound03       Afghan Hound
2         AfghanHound04       Afghan Hound
3     AiredaleTerrier01   Airedale Terrier
4     AiredaleTerrier02   Airedale Terrier
..                  ...                ...
662            PER00777  Yorkshire Terrier
663            PER00806  Yorkshire Terrier
664            PER00816  Yorkshire Terrier
665  YorkshireTerrier01  Yorkshire Terrier
666  YorkshireTerrier02  Yorkshire Terrier

[667 rows x 2 columns]

In [10]:
#save the sample map 
# sample_map.to_csv(r'/scratch/groups/cdbustam/richras/data_out/dogs/ref_map_a.txt',\
#                   header=None, index=None, sep='\t')

In [11]:
# form a ref map with the same column for Superpopulation Code (superpop) and Population(granular pop)
ref_sample_map = sample_map.rename(columns={"Name_ID":"Sample", "Breed/CommonName":"Population"})
ref_sample_map["Superpopulation code"] = ref_sample_map["Population"]
ref_sample_map

                 Sample         Population Superpopulation code
0         AfghanHound01       Afghan Hound         Afghan Hound
1         AfghanHound03       Afghan Hound         Afghan Hound
2         AfghanHound04       Afghan Hound         Afghan Hound
3     AiredaleTerrier01   Airedale Terrier     Airedale Terrier
4     AiredaleTerrier02   Airedale Terrier     Airedale Terrier
..                  ...                ...                  ...
662            PER00777  Yorkshire Terrier    Yorkshire Terrier
663            PER00806  Yorkshire Terrier    Yorkshire Terrier
664            PER00816  Yorkshire Terrier    Yorkshire Terrier
665  YorkshireTerrier01  Yorkshire Terrier    Yorkshire Terrier
666  YorkshireTerrier02  Yorkshire Terrier    Yorkshire Terrier

[667 rows x 3 columns]

In [12]:
# save ref_sample_map
# ref_sample_map.to_csv(r'/scratch/groups/cdbustam/richras/data_out/dogs/ref_map_a.tsv', index=None, sep='\t')

# Select the samples to remove based on missing snps

In [18]:
import os.path as osp
start_chr=1
end_chr=38
pd.options.display.float_format = '{:.2f}'.format
for i in range(start_chr, end_chr+1):
    print(f"chm{i}")
    df_chr = pd.read_csv(''.join([osp.join(out_path,'dogs', 'sm_a/chr'+str(i)),'/chr'+str(i)+'_nMissing.txt']), sep="\t", header=None)
    print(df_chr)
    df_chr_missing = df_chr[1:].copy()
    df_chr_missing.columns=['samples', 'nMissing']
    df_chr_missing['_Missing%'] = df_chr_missing['nMissing']*100/df_chr.iloc[0,1]
    
    df_rm_samples = df_chr_missing[df_chr_missing['_Missing%']>10]
    perc_cols=[col for col in df_rm_outer.columns if '_Missing%' in col] if i>start_chr else '_Missing%'
    print(f"perc_cols:{perc_cols}")
    df_rm_outer = df_rm_outer[['samples', *perc_cols]].merge(df_rm_samples[['samples', '_Missing%']], \
                    how="outer", on="samples") if i>start_chr else df_rm_samples[['samples', '_Missing%']]
    df_rm_outer.rename(columns={'_Missing%':'_Missing%_chr'+str(i)}, inplace=True)
    print(df_rm_outer)

chm1
                           0        1
0            number of SNPs:  3715358
1                 140447_S11    38919
2                  149323_S6    38835
3                  152721_S5    37011
4                  160822_S4    38591
..                       ...      ...
194  WestHighlandWhiteTerr09    33925
195                Whippet01    45949
196               XiasiDog01   178828
197       YorkshireTerrier01    47801
198       YorkshireTerrier02    53638

[199 rows x 2 columns]
perc_cols:_Missing%
      samples  _Missing%_chr1
113  PER00167           10.23
126  PER00393           31.58
132  PER00438           13.21
154  PER00747           36.77
chm2
                           0        1
0            number of SNPs:  2637994
1                 140447_S11    30227
2                  149323_S6    29211
3                  152721_S5    29851
4                  160822_S4    30560
..                       ...      ...
194  WestHighlandWhiteTerr09    26191
195                Whippet01    37766
196               XiasiDog01   146361
197       YorkshireTerrier01    40889
198       YorkshireTerrier02    45712

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1']
      samples  _Missing%_chr1  _Missing%_chr2
0    PER00167           10.23           13.47
1    PER00393           31.58           33.70
2    PER00438           13.21           16.19
3    PER00747           36.77           37.40
4    BAN00150             nan           12.06
5  ChowChow01             nan           10.93
6    PER00313             nan           10.26
chm3
                           0        1
0            number of SNPs:  2813304
1                 140447_S11    30946
2                  149323_S6    32980
3                  152721_S5    29928
4                  160822_S4    32231
..                       ...      ...
194  WestHighlandWhiteTerr09    29569
195                Whippet01    36712
196               XiasiDog01   117911
197       YorkshireTerrier01    42197
198       YorkshireTerrier02    42538

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2']
      samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3
0    PER00167           10.23           13.47             nan
1    PER00393           31.58           33.70           30.00
2    PER00438           13.21           16.19           12.25
3    PER00747           36.77           37.40           37.91
4    BAN00150             nan           12.06             nan
5  ChowChow01             nan           10.93             nan
6    PER00313             nan           10.26             nan
chm4
                           0        1
0            number of SNPs:  2662361
1                 140447_S11    28286
2                  149323_S6    25936
3                  152721_S5    27914
4                  160822_S4    27707
..                       ...      ...
194  WestHighlandWhiteTerr09    27519
195                Whippet01    35924
196               XiasiDog01   113025
197       YorkshireTerrier01    35157
198       YorkshireTerrier02    38928

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3']
      samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  _Missing%_chr4
0    PER00167           10.23           13.47             nan             nan
1    PER00393           31.58           33.70           30.00           29.96
2    PER00438           13.21           16.19           12.25           11.98
3    PER00747           36.77           37.40           37.91           37.97
4    BAN00150             nan           12.06             nan             nan
5  ChowChow01             nan           10.93             nan             nan
6    PER00313             nan           10.26             nan             nan
chm5
                           0        1
0            number of SNPs:  2676178
1                 140447_S11    26026
2                  149323_S6    27190
3                  152721_S5    27024
4                  160822_S4    27144
..                       ...      ...
194  WestHighlandWhiteTerr09    24714
195                Whippet01    30911
196               XiasiDog01   121131
197       YorkshireTerrier01    32957
198       YorkshireTerrier02    35842

[199 rows x 2 columns]

/share/software/user/open/py-pandas/1.0.3_py36/lib/python3.6/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4']
      samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  _Missing%_chr4  \
0    PER00167           10.23           13.47             nan             nan
1    PER00393           31.58           33.70           30.00           29.96
2    PER00438           13.21           16.19           12.25           11.98
3    PER00747           36.77           37.40           37.91           37.97
4    BAN00150             nan           12.06             nan             nan
5  ChowChow01             nan           10.93             nan             nan
6    PER00313             nan           10.26             nan             nan

   _Missing%_chr5
0           13.47
1           33.61
2           13.27
3           35.43
4           11.27
5             nan
6             nan
chm6
                           0        1
0            number of SNPs:  2331851
1                 140447_S11    24952
2                  149323_S6    26190
3                  152721_S5    25562
4                  160822_S4    24879
..                       ...      ...
194  WestHighlandWhiteTerr09    22406
195                Whippet01    30262
196               XiasiDog01   109582
197       YorkshireTerrier01    30795
198       YorkshireTerrier02    33594

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5']
      samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  _Missing%_chr4  \
0    PER00167           10.23           13.47             nan             nan
1    PER00393           31.58           33.70           30.00           29.96
2    PER00438           13.21           16.19           12.25           11.98
3    PER00747           36.77           37.40           37.91           37.97
4    BAN00150             nan           12.06             nan             nan
5  ChowChow01             nan           10.93             nan             nan
6    PER00313             nan           10.26             nan             nan

   _Missing%_chr5  _Missing%_chr6
0           13.47           11.50
1           33.61           32.04
2           13.27           13.38
3           35.43           36.48
4           11.27           10.52
5             nan             nan
6             nan             nan
chm7
                           0        1
0            number of SNPs:  2325170
1                 140447_S11    22918
2                  149323_S6    24091
3                  152721_S5    23380
4                  160822_S4    26446
..                       ...      ...
194  WestHighlandWhiteTerr09    22776
195                Whippet01    31061
196               XiasiDog01   101433
197       YorkshireTerrier01    32829
198       YorkshireTerrier02    34956

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6']
      samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  _Missing%_chr4  \
0    PER00167           10.23           13.47             nan             nan
1    PER00393           31.58           33.70           30.00           29.96
2    PER00438           13.21           16.19           12.25           11.98
3    PER00747           36.77           37.40           37.91           37.97
4    BAN00150             nan           12.06             nan             nan
5  ChowChow01             nan           10.93             nan             nan
6    PER00313             nan           10.26             nan             nan

   _Missing%_chr5  _Missing%_chr6  _Missing%_chr7
0           13.47           11.50             nan
1           33.61           32.04           29.92
2           13.27           13.38           12.36
3           35.43           36.48           37.27
4           11.27           10.52             nan
5             nan             nan             nan
6             nan             nan             nan
chm8
                           0        1
0            number of SNPs:  2342099
1                 140447_S11    36629
2                  149323_S6    28168
3                  152721_S5    25137
4                  160822_S4    35431
..                       ...      ...
194  WestHighlandWhiteTerr09    30174
195                Whippet01    40254
196               XiasiDog01   113555
197       YorkshireTerrier01    39870
198       YorkshireTerrier02    41307

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7']
      samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  _Missing%_chr4  \
0    PER00167           10.23           13.47             nan             nan
1    PER00393           31.58           33.70           30.00           29.96
2    PER00438           13.21           16.19           12.25           11.98
3    PER00747           36.77           37.40           37.91           37.97
4    BAN00150             nan           12.06             nan             nan
5  ChowChow01             nan           10.93             nan             nan
6    PER00313             nan           10.26             nan             nan

   _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  _Missing%_chr8
0           13.47           11.50             nan             nan
1           33.61           32.04           29.92           30.09
2           13.27           13.38           12.36           14.04
3           35.43           36.48           37.27           38.44
4           11.27           10.52             nan             nan
5             nan             nan             nan             nan
6             nan             nan             nan             nan
chm9
                           0        1
0            number of SNPs:  1748067
1                 140447_S11    28170
2                  149323_S6    22942
3                  152721_S5    23338
4                  160822_S4    22907
..                       ...      ...
194  WestHighlandWhiteTerr09    22212
195                Whippet01    28940
196               XiasiDog01   109605
197       YorkshireTerrier01    31698
198       YorkshireTerrier02    43004

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9
0              nan           19.18
1            30.09           36.87
2            14.04           17.38
3            38.44           36.11
4              nan           16.64
5              nan           13.13
6              nan           14.64
7              nan           10.01
8              nan           12.83
9              nan           14.35
10             nan           11.82
11             nan           14.51
12             nan           13.28
13             nan           13.52
14             nan           14.61
chm10
                           0        1
0            number of SNPs:  2102834
1                 140447_S11    22780
2                  149323_S6    22227
3                  152721_S5    21809
4                  160822_S4    22589
..                       ...      ...
194  WestHighlandWhiteTerr09    19836
195                Whippet01    29173
196               XiasiDog01   112282
197       YorkshireTerrier01    28631
198       YorkshireTerrier02    30158

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  _Missing%_chr10
0              nan           19.18            13.36
1            30.09           36.87            33.78
2            14.04           17.38            14.23
3            38.44           36.11            36.68
4              nan           16.64            11.76
5              nan           13.13            10.50
6              nan           14.64              nan
7              nan           10.01              nan
8              nan           12.83              nan
9              nan           14.35              nan
10             nan           11.82              nan
11             nan           14.51            10.22
12             nan           13.28              nan
13             nan           13.52              nan
14             nan           14.61            10.03
chm11
                           0        1
0            number of SNPs:  2196764
1                 140447_S11    25639
2                  149323_S6    23951
3                  152721_S5    27821
4                  160822_S4    25522
..                       ...      ...
194  WestHighlandWhiteTerr09    27120
195                Whippet01    35630
196               XiasiDog01   108171
197       YorkshireTerrier01    33671
198       YorkshireTerrier02    40644

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  _Missing%_chr10  _Missing%_chr11
0              nan           19.18            13.36              nan
1            30.09           36.87            33.78            29.72
2            14.04           17.38            14.23            13.86
3            38.44           36.11            36.68            38.90
4              nan           16.64            11.76              nan
5              nan           13.13            10.50              nan
6              nan           14.64              nan              nan
7              nan           10.01              nan              nan
8              nan           12.83              nan              nan
9              nan           14.35              nan              nan
10             nan           11.82              nan              nan
11             nan           14.51            10.22              nan
12             nan           13.28              nan              nan
13             nan           13.52              nan              nan
14             nan           14.61            10.03              nan
chm12
                           0        1
0            number of SNPs:  2174438
1                 140447_S11    24155
2                  149323_S6    24250
3                  152721_S5    23882
4                  160822_S4    24426
..                       ...      ...
194  WestHighlandWhiteTerr09    25541
195                Whippet01    31195
196               XiasiDog01    96513
197       YorkshireTerrier01    28496
198       YorkshireTerrier02    32358

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  _Missing%_chr10  _Missing%_chr11  \
0              nan           19.18            13.36              nan
1            30.09           36.87            33.78            29.72
2            14.04           17.38            14.23            13.86
3            38.44           36.11            36.68            38.90
4              nan           16.64            11.76              nan
5              nan           13.13            10.50              nan
6              nan           14.64              nan              nan
7              nan           10.01              nan              nan
8              nan           12.83              nan              nan

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  _Missing%_chr10  _Missing%_chr11  \
0              nan           19.18            13.36              nan
1            30.09           36.87            33.78            29.72
2            14.04           17.38            14.23            13.86
3            38.44           36.11            36.68            38.90
4              nan           16.64            11.76              nan
5              nan           13.13            10.50              nan
6              nan           14.64              nan              nan
7              nan           10.01              nan              nan
8              nan           12.83              nan              nan
9              nan           14.35              nan              nan
10             nan           11.82              nan              nan
11             nan           14.51            10.22              nan
12             nan           13.28              nan              nan
13             nan           13.52              nan              nan
14             nan           14.61            10.03              nan

    _Missing%_chr12  _Missing%_chr13
0               nan              nan
1             28.86            30.54
2             11.81            12.97
3             39.09            39.05
4               nan              nan
5               nan              nan
6               nan              nan
7               nan              nan
8               nan              nan
9               nan              nan
10              nan              nan
11              nan              nan
12              nan              nan
13              nan              nan
14              nan              nan
chm14
                           0        1
0            number of SNPs:  1805969
1                 140447_S11    18350
2                  149323_S6    19329
3                  152721_S5    18375
4                  160822_S4    20805
..                       ...      ...
194  WestHighlandWhiteTerr09    23070
195                Whippet01    24009
196               XiasiDog01    68683
197       YorkshireTerrier01    23713
198       YorkshireTerrier02    26861

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  _Missing%_chr10  _Missing%_chr11  \
0              nan           19.18            13.36              nan
1            30.09           36.87            33.78            29.72
2            14.04           17.38            14.23            13.86
3            38.44           36.11            36.68            38.90
4              nan           16.64            11.76              nan
5              nan           13.13            10.50              nan
6              nan           14.64              nan              nan
7              nan           10.01              nan              nan
8              nan           12.83              nan              nan
9              nan           14.35              nan              nan
10             nan           11.82              nan              nan
11             nan           14.51            10.22              nan
12             nan           13.28              nan              nan
13             nan           13.52              nan              nan
14             nan           14.61            10.03              nan

    _Missing%_chr12  _Missing%_chr13  _Missing%_chr14
0               nan              nan              nan
1             28.86            30.54            27.91
2             11.81            12.97            11.31
3             39.09            39.05            38.20
4               nan              nan              nan
5               nan              nan              nan
6               nan              nan              nan
7               nan              nan              nan
8               nan              nan              nan
9               nan              nan              nan
10              nan              nan              nan
11              nan              nan              nan
12              nan              nan              nan
13              nan              nan              nan
14              nan              nan              nan
chm15
                           0        1
0            number of SNPs:  1928494
1                 140447_S11    23763
2                  149323_S6    21823
3                  152721_S5    21804
4                  160822_S4    23468
..                       ...      ...
194  WestHighlandWhiteTerr09    20037
195                Whippet01    26115
196               XiasiDog01    94682
197       YorkshireTerrier01    28380
198       YorkshireTerrier02    28987

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  _Missing%_chr10  _Missing%_chr11  \
0              nan           19.18            13.36              nan
1            30.09           36.87            33.78            29.72
2            14.04           17.38            14.23            13.86
3            38.44           36.11            36.68            38.90
4              nan           16.64            11.76              nan
5              nan           13.13            10.50              nan
6              nan           14.64              nan              nan
7              nan           10.01              nan              nan
8              nan           12.83              nan              nan
9              nan           14.35              nan              nan
10             nan           11.82              nan              nan
11             nan           14.51            10.22              nan
12             nan           13.28              nan              nan
13             nan           13.52              nan              nan
14             nan           14.61            10.03              nan

    _Missing%_chr12  _Missing%_chr13  _Missing%_chr14  _Missing%_chr15
0               nan              nan              nan              nan
1             28.86            30.54            27.91            30.20
2             11.81            12.97            11.31            12.66
3             39.09            39.05            38.20            38.20
4               nan              nan              nan              nan
5               nan              nan              nan              nan
6               nan              nan              nan              nan
7               nan              nan              nan              nan
8               nan              nan              nan              nan
9               nan              nan              nan              nan
10              nan              nan              nan              nan
11              nan              nan              nan              nan
12              nan              nan              nan              nan
13              nan              nan              nan              nan
14              nan              nan              nan              nan
chm16
                           0        1
0            number of SNPs:  2027479
1                 140447_S11    24783
2                  149323_S6    22296
3                  152721_S5    21993
4                  160822_S4    21049
..                       ...      ...
194  WestHighlandWhiteTerr09    21997
195                Whippet01    30825
196               XiasiDog01    97005
197       YorkshireTerrier01    31119
198       YorkshireTerrier02    32262

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  _Missing%_chr10  _Missing%_chr11  \
0              nan           19.18            13.36              nan
1            30.09           36.87            33.78            29.72
2            14.04           17.38            14.23            13.86
3            38.44           36.11            36.68            38.90
4              nan           16.64            11.76              nan
5              nan           13.13            10.50              nan
6              nan           14.64              nan              nan
7              nan           10.01              nan              nan
8              nan           12.83              nan              nan
9              nan           14.35              nan              nan
10             nan           11.82              nan              nan
11             nan           14.51            10.22              nan
12             nan           13.28              nan              nan
13             nan           13.52              nan              nan
14             nan           14.61            10.03              nan

    _Missing%_chr12  _Missing%_chr13  _Missing%_chr14  _Missing%_chr15  \
0               nan              nan              nan              nan
1             28.86            30.54            27.91            30.20
2             11.81            12.97            11.31            12.66
3             39.09            39.05            38.20            38.20
4               nan              nan              nan              nan
5               nan              nan              nan              nan
6               nan              nan              nan              nan
7               nan              nan              nan              nan
8               nan              nan              nan              nan
9               nan              nan              nan              nan
10              nan              nan              nan              nan
11              nan              nan              nan              nan
12              nan              nan              nan              nan
13              nan              nan              nan              nan
14              nan              nan              nan              nan

    _Missing%_chr16
0             10.65
1             31.76
2             15.49
3             38.57
4             10.09
5               nan
6               nan
7               nan
8               nan
9               nan
10              nan
11              nan
12              nan
13              nan
14              nan
chm17
                           0        1
0            number of SNPs:  1985684
1                 140447_S11    22622
2                  149323_S6    22690
3                  152721_S5    21595
4                  160822_S4    25819
..                       ...      ...
194  WestHighlandWhiteTerr09    25265
195                Whippet01    28688
196               XiasiDog01    91185
197       YorkshireTerrier01    27883
198       YorkshireTerrier02    31401

[199 rows x 2 columns]

perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  _Missing%_chr10  _Missing%_chr11  \
0              nan           19.18            13.36              nan
1            30.09           36.87            33.78            29.72
2            14.04           17.38            14.23            13.86
3            38.44           36.11            36.68            38.90
4              nan           16.64            11.76              nan
5              nan           13.13            10.50              nan
6              nan           14.64              nan              nan
7              nan           10.01              nan              nan
8              nan           12.83              nan              nan
9              nan           14.35              nan              nan
10             nan           11.82              nan              nan
11             nan           14.51            10.22              nan
12             nan           13.28              nan              nan
13             nan           13.52              nan              nan
14             nan           14.61            10.03              nan

    _Missing%_chr12  _Missing%_chr13  _Missing%_chr14  _Missing%_chr15  \
0               nan              nan              nan              nan
1             28.86            30.54            27.91            30.20
2             11.81            12.97            11.31            12.66
3             39.09            39.05            38.20            38.20
4               nan              nan              nan              nan
5               nan              nan              nan              nan
6               nan              nan              nan              nan
7               nan              nan              nan              nan
8               nan              nan              nan              nan
9               nan              nan              nan              nan
10              nan              nan              nan              nan
11              nan              nan              nan              nan
12              nan              nan              nan              nan
13              nan              nan              nan              nan
14              nan              nan              nan              nan

    _Missing%_chr16  _Missing%_chr17
0             10.65            10.13
1             31.76            31.06
2             15.49            13.47
3             38.57            37.35
4             10.09              nan
5               nan              nan
6               nan              nan
7               nan              nan
8               nan              nan
9               nan              nan
10              nan              nan
11              nan              nan
12              nan              nan
13              nan              nan
14              nan              nan
chm18
                           0        1
0            number of SNPs:  1814019
1                 140447_S11    24473
2                  149323_S6    20979
3                  152721_S5    22284
4                  160822_S4    22771
..                       ...      ...
194  WestHighlandWhiteTerr09    20223
195                Whippet01    26048
196               XiasiDog01   100012
197       YorkshireTerrier01    26835
198       YorkshireTerrier02    30159

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  _Missing%_chr10  _Missing%_chr11  \
0              nan           19.18            13.36              nan
1            30.09           36.87            33.78            29.72
2            14.04           17.38            14.23            13.86
3            38.44           36.11            36.68            38.90
4              nan           16.64            11.76              nan
5              nan           13.13            10.50              nan
6              nan           14.64              nan              nan
7              nan           10.01              nan              nan
8              nan           12.83              nan              nan
9              nan           14.35              nan              nan
10             nan           11.82              nan              nan
11             nan           14.51            10.22              nan
12             nan           13.28              nan              nan
13             nan           13.52              nan              nan
14             nan           14.61            10.03              nan

    _Missing%_chr12  _Missing%_chr13  _Missing%_chr14  _Missing%_chr15  \
0               nan              nan              nan              nan
1             28.86            30.54            27.91            30.20
2             11.81            12.97            11.31            12.66
3             39.09            39.05            38.20            38.20
4               nan              nan              nan              nan
5               nan              nan              nan              nan
6               nan              nan              nan              nan
7               nan              nan              nan              nan
8               nan              nan              nan              nan
9               nan              nan              nan              nan
10              nan              nan              nan              nan
11              nan              nan              nan              nan
12              nan              nan              nan              nan
13              nan              nan              nan              nan
14              nan              nan              nan              nan

    _Missing%_chr16  _Missing%_chr17  _Missing%_chr18
0             10.65            10.13            13.98
1             31.76            31.06            34.23
2             15.49            13.47            15.40
3             38.57            37.35            37.56
4             10.09              nan            12.68
5               nan              nan            10.87
6               nan              nan            10.73
7               nan              nan              nan
8               nan              nan            10.01
9               nan              nan            10.58
10              nan              nan              nan
11              nan              nan            10.77
12              nan              nan              nan
13              nan              nan              nan
14              nan              nan            10.53
chm19

                           0        1
0            number of SNPs:  1747369
1                 140447_S11    18798
2                  149323_S6    17598
3                  152721_S5    19015
4                  160822_S4    18978
..                       ...      ...
194  WestHighlandWhiteTerr09    20412
195                Whippet01    25828
196               XiasiDog01    67350
197       YorkshireTerrier01    23400
198       YorkshireTerrier02    24838

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  _Missing%_chr10  _Missing%_chr11  \
0              nan           19.18            13.36              nan
1            30.09           36.87            33.78            29.72
2            14.04           17.38            14.23            13.86
3            38.44           36.11            36.68            38.90
4              nan           16.64            11.76              nan
5              nan           13.13            10.50              nan
6              nan           14.64              nan              nan
7              nan           10.01              nan              nan
8              nan           12.83              nan              nan
9              nan           14.35              nan              nan
10             nan           11.82              nan              nan
11             nan           14.51            10.22              nan
12             nan           13.28              nan              nan
13             nan           13.52              nan              nan
14             nan           14.61            10.03              nan

    _Missing%_chr12  _Missing%_chr13  _Missing%_chr14  _Missing%_chr15  \
0               nan              nan              nan              nan
1             28.86            30.54            27.91            30.20
2             11.81            12.97            11.31            12.66
3             39.09            39.05            38.20            38.20
4               nan              nan              nan              nan
5               nan              nan              nan              nan
6               nan              nan              nan              nan
7               nan              nan              nan              nan
8               nan              nan              nan              nan
9               nan              nan              nan              nan
10              nan              nan              nan              nan
11              nan              nan              nan              nan
12              nan              nan              nan              nan
13              nan              nan              nan              nan
14              nan              nan              nan              nan

    _Missing%_chr16  _Missing%_chr17  _Missing%_chr18  _Missing%_chr19
0             10.65            10.13            13.98              nan
1             31.76            31.06            34.23            27.50
2             15.49            13.47            15.40            10.92
3             38.57            37.35            37.56            39.14
4             10.09              nan            12.68              nan
5               nan              nan            10.87              nan
6               nan              nan            10.73              nan
7               nan              nan              nan              nan
8               nan              nan            10.01              nan
9               nan              nan            10.58              nan
10              nan              nan              nan              nan
11              nan              nan            10.77              nan
12              nan              nan              nan              nan
13              nan              nan              nan              nan
14              nan              nan            10.53              nan
chm20
                           0        1
0            number of SNPs:  1677986
1                 140447_S11    21542
2                  149323_S6    20233
3                  152721_S5    18506
4                  160822_S4    19729
..                       ...      ...
194  WestHighlandWhiteTerr09    18574
195                Whippet01    25492
196               XiasiDog01    94472
197       YorkshireTerrier01    23816
198       YorkshireTerrier02    25342

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  ...  _Missing%_chr11  _Missing%_chr12  \
0              nan           19.18  ...              nan              nan
1            30.09           36.87  ...            29.72            28.86
2            14.04           17.38  ...            13.86            11.81
3            38.44           36.11  ...            38.90            39.09
4              nan           16.64  ...              nan              nan
5              nan           13.13  ...              nan              nan
6              nan           14.64  ...              nan              nan
7              nan           10.01  ...              nan              nan
8              nan           12.83  ...              nan              nan
9              nan           14.35  ...              nan              nan
10             nan           11.82  ...              nan              nan
11             nan           14.51  ...              nan              nan
12             nan           13.28  ...              nan              nan
13             nan           13.52  ...              nan              nan
14             nan           14.61  ...              nan              nan

    _Missing%_chr13  _Missing%_chr14  _Missing%_chr15  _Missing%_chr16  \
0               nan              nan              nan            10.65
1             30.54            27.91            30.20            31.76
2             12.97            11.31            12.66            15.49
3             39.05            38.20            38.20            38.57
4               nan              nan              nan            10.09
5               nan              nan              nan              nan
6               nan              nan              nan              nan
7               nan              nan              nan              nan
8               nan              nan              nan              nan
9               nan              nan              nan              nan
10              nan              nan              nan              nan
11              nan              nan              nan              nan
12              nan              nan              nan              nan
13              nan              nan              nan              nan
14              nan              nan              nan              nan

    _Missing%_chr17  _Missing%_chr18  _Missing%_chr19  _Missing%_chr20
0             10.13            13.98              nan            15.28
1             31.06            34.23            27.50            34.98
2             13.47            15.40            10.92            15.06
3             37.35            37.56            39.14            37.27
4               nan            12.68              nan            13.30
5               nan            10.87              nan            11.13
6               nan            10.73              nan            11.52
7               nan              nan              nan              nan
8               nan            10.01              nan            10.49
9               nan            10.58              nan            11.47
10              nan              nan              nan              nan
11              nan            10.77              nan            11.51
12              nan              nan              nan            10.46
13              nan              nan              nan            10.49
14              nan            10.53              nan            11.17

[15 rows x 21 columns]
chm21
                           0        1
0            number of SNPs:  1625071
1                 140447_S11    19341
2                  149323_S6    18018
3                  152721_S5    17039
4                  160822_S4    18583
..                       ...      ...
194  WestHighlandWhiteTerr09    15912
195                Whippet01    21786
196               XiasiDog01    68921
197       YorkshireTerrier01    23793
198       YorkshireTerrier02    23902

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  ...  _Missing%_chr12  _Missing%_chr13  \
0              nan           19.18  ...              nan              nan
1            30.09           36.87  ...            28.86            30.54
2            14.04           17.38  ...            11.81            12.97
3            38.44           36.11  ...            39.09            39.05
4              nan           16.64  ...              nan              nan
5              nan           13.13  ...              nan              nan
6              nan           14.64  ...              nan              nan
7              nan           10.01  ...              nan              nan
8              nan           12.83  ...              nan              nan
9              nan           14.35  ...              nan              nan
10             nan           11.82  ...              nan              nan
11             nan           14.51  ...              nan              nan
12             nan           13.28  ...              nan              nan
13             nan           13.52  ...              nan              nan
14             nan           14.61  ...              nan              nan

    _Missing%_chr14  _Missing%_chr15  _Missing%_chr16  _Missing%_chr17  \
0               nan              nan            10.65            10.13
1             27.91            30.20            31.76            31.06
2             11.31            12.66            15.49            13.47
3             38.20            38.20            38.57            37.35
4               nan              nan            10.09              nan
5               nan              nan              nan              nan
6               nan              nan              nan              nan
7               nan              nan              nan              nan
8               nan              nan              nan              nan
9               nan              nan              nan              nan
10              nan              nan              nan              nan
11              nan              nan              nan              nan
12              nan              nan              nan              nan
13              nan              nan              nan              nan
14              nan              nan              nan              nan

    _Missing%_chr18  _Missing%_chr19  _Missing%_chr20  _Missing%_chr21
0             13.98              nan            15.28              nan
1             34.23            27.50            34.98            28.57
2             15.40            10.92            15.06            12.38
3             37.56            39.14            37.27            38.18
4             12.68              nan            13.30              nan
5             10.87              nan            11.13              nan
6             10.73              nan            11.52              nan
7               nan              nan              nan              nan
8             10.01              nan            10.49              nan
9             10.58              nan            11.47              nan
10              nan              nan              nan              nan
11            10.77              nan            11.51              nan
12              nan              nan            10.46              nan
13              nan              nan            10.49              nan
14            10.53              nan            11.17              nan

[15 rows x 22 columns]
chm22
                           0        1
0            number of SNPs:  1870317
1                 140447_S11    20660
2                  149323_S6    18087
3                  152721_S5    19202
4                  160822_S4    18627
..                       ...      ...
194  WestHighlandWhiteTerr09    20313
195                Whippet01    24984
196               XiasiDog01    69969
197       YorkshireTerrier01    23851
198       YorkshireTerrier02    25115

[199 rows x 2 columns]

perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  ...  _Missing%_chr14  _Missing%_chr15  \
0              nan           19.18  ...              nan              nan
1            30.09           36.87  ...            27.91            30.20
2            14.04           17.38  ...            11.31            12.66
3            38.44           36.11  ...            38.20            38.20
4              nan           16.64  ...              nan              nan
5              nan           13.13  ...              nan              nan
6              nan           14.64  ...              nan              nan
7              nan           10.01  ...              nan              nan
8              nan           12.83  ...              nan              nan
9              nan           14.35  ...              nan              nan
10             nan           11.82  ...              nan              nan
11             nan           14.51  ...              nan              nan
12             nan           13.28  ...              nan              nan
13             nan           13.52  ...              nan              nan
14             nan           14.61  ...              nan              nan

    _Missing%_chr16  _Missing%_chr17  _Missing%_chr18  _Missing%_chr19  \
0             10.65            10.13            13.98              nan
1             31.76            31.06            34.23            27.50
2             15.49            13.47            15.40            10.92
3             38.57            37.35            37.56            39.14
4             10.09              nan            12.68              nan
5               nan              nan            10.87              nan
6               nan              nan            10.73              nan
7               nan              nan              nan              nan
8               nan              nan            10.01              nan
9               nan              nan            10.58              nan
10              nan              nan              nan              nan
11              nan              nan            10.77              nan
12              nan              nan              nan              nan
13              nan              nan              nan              nan
14              nan              nan            10.53              nan

    _Missing%_chr20  _Missing%_chr21  _Missing%_chr22  _Missing%_chr23
0             15.28              nan              nan              nan
1             34.98            28.57            28.49            28.68
2             15.06            12.38            11.42            11.49
3             37.27            38.18            39.56            37.74
4             13.30              nan              nan              nan
5             11.13              nan              nan              nan
6             11.52              nan              nan              nan
7               nan              nan              nan              nan
8             10.49              nan              nan              nan
9             11.47              nan              nan              nan
10              nan              nan              nan              nan
11            11.51              nan              nan              nan
12            10.46              nan              nan              nan
13            10.49              nan              nan              nan
14            11.17              nan              nan              nan

[15 rows x 24 columns]
chm24
                           0        1
0            number of SNPs:  1494772
1                 140447_S11    16514
2                  149323_S6    16238
3                  152721_S5    17724
4                  160822_S4    20655
..                       ...      ...
194  WestHighlandWhiteTerr09    17640
195                Whippet01    19433
196               XiasiDog01    85585
197       YorkshireTerrier01    21032
198       YorkshireTerrier02    21664

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  ...  _Missing%_chr15  _Missing%_chr16  \
0              nan           19.18  ...              nan            10.65
1            30.09           36.87  ...            30.20            31.76
2            14.04           17.38  ...            12.66            15.49
3            38.44           36.11  ...            38.20            38.57
4              nan           16.64  ...              nan            10.09
5              nan           13.13  ...              nan              nan
6              nan           14.64  ...              nan              nan
7              nan           10.01  ...              nan              nan
8              nan           12.83  ...              nan              nan
9              nan           14.35  ...              nan              nan
10             nan           11.82  ...              nan              nan
11             nan           14.51  ...              nan              nan
12             nan           13.28  ...              nan              nan
13             nan           13.52  ...              nan              nan
14             nan           14.61  ...              nan              nan

    _Missing%_chr17  _Missing%_chr18  _Missing%_chr19  _Missing%_chr20  \
0             10.13            13.98              nan            15.28
1             31.06            34.23            27.50            34.98
2             13.47            15.40            10.92            15.06
3             37.35            37.56            39.14            37.27
4               nan            12.68              nan            13.30
5               nan            10.87              nan            11.13
6               nan            10.73              nan            11.52
7               nan              nan              nan              nan
8               nan            10.01              nan            10.49
9               nan            10.58              nan            11.47
10              nan              nan              nan              nan
11              nan            10.77              nan            11.51
12              nan              nan              nan            10.46
13              nan              nan              nan            10.49
14              nan            10.53              nan            11.17

    _Missing%_chr21  _Missing%_chr22  _Missing%_chr23  _Missing%_chr24
0               nan              nan              nan            15.46
1             28.57            28.49            28.68            35.55
2             12.38            11.42            11.49            15.93
3             38.18            39.56            37.74            36.88
4               nan              nan              nan            13.66
5               nan              nan              nan            11.48
6               nan              nan              nan            12.01
7               nan              nan              nan              nan
8               nan              nan              nan            11.00
9               nan              nan              nan            11.65
10              nan              nan              nan              nan
11              nan              nan              nan            11.88
12              nan              nan              nan            10.83
13              nan              nan              nan            10.88
14              nan              nan              nan            11.71

[15 rows x 25 columns]
chm25
                           0        1
0            number of SNPs:  1603223
1                 140447_S11    19114
2                  149323_S6    18376
3                  152721_S5    17839
4                  160822_S4    21326
..                       ...      ...
194  WestHighlandWhiteTerr09    20101
195                Whippet01    24437
196               XiasiDog01    88232
197       YorkshireTerrier01    25337
198       YorkshireTerrier02    27411

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  ...  _Missing%_chr16  _Missing%_chr17  \
0              nan           19.18  ...            10.65            10.13
1            30.09           36.87  ...            31.76            31.06
2            14.04           17.38  ...            15.49            13.47
3            38.44           36.11  ...            38.57            37.35
4              nan           16.64  ...            10.09              nan
5              nan           13.13  ...              nan              nan
6              nan           14.64  ...              nan              nan
7              nan           10.01  ...              nan              nan
8              nan           12.83  ...              nan              nan
9              nan           14.35  ...              nan              nan
10             nan           11.82  ...              nan              nan
11             nan           14.51  ...              nan              nan
12             nan           13.28  ...              nan              nan
13             nan           13.52  ...              nan              nan
14             nan           14.61  ...              nan              nan

    _Missing%_chr18  _Missing%_chr19  _Missing%_chr20  _Missing%_chr21  \
0             13.98              nan            15.28              nan
1             34.23            27.50            34.98            28.57
2             15.40            10.92            15.06            12.38
3             37.56            39.14            37.27            38.18
4             12.68              nan            13.30              nan
5             10.87              nan            11.13              nan
6             10.73              nan            11.52              nan
7               nan              nan              nan              nan
8             10.01              nan            10.49              nan
9             10.58              nan            11.47              nan
10              nan              nan              nan              nan
11            10.77              nan            11.51              nan
12              nan              nan            10.46              nan
13              nan              nan            10.49              nan
14            10.53              nan            11.17              nan

    _Missing%_chr22  _Missing%_chr23  _Missing%_chr24  _Missing%_chr25
0               nan              nan            15.46            12.03
1             28.49            28.68            35.55            32.88
2             11.42            11.49            15.93            14.39
3             39.56            37.74            36.88            37.54
4               nan              nan            13.66            11.25
5               nan              nan            11.48            10.16
6               nan              nan            12.01              nan
7               nan              nan              nan              nan
8               nan              nan            11.00              nan
9               nan              nan            11.65              nan
10              nan              nan              nan              nan
11              nan              nan            11.88              nan
12              nan              nan            10.83              nan
13              nan              nan            10.88              nan
14              nan              nan            11.71              nan

[15 rows x 26 columns]
chm26
                           0        1
0            number of SNPs:  1399852
1                 140447_S11    44294
2                  149323_S6    19203
3                  152721_S5    26476
4                  160822_S4    23199
..                       ...      ...
194  WestHighlandWhiteTerr09    25862
195                Whippet01    26924
196               XiasiDog01    88012
197       YorkshireTerrier01    29201
198       YorkshireTerrier02    33609

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25']

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  ...  _Missing%_chr20  _Missing%_chr21  \
0              nan           19.18  ...            15.28              nan
1            30.09           36.87  ...            34.98            28.57
2            14.04           17.38  ...            15.06            12.38
3            38.44           36.11  ...            37.27            38.18
4              nan           16.64  ...            13.30              nan
5              nan           13.13  ...            11.13              nan
6              nan           14.64  ...            11.52              nan
7              nan           10.01  ...              nan              nan
8              nan           12.83  ...            10.49              nan
9              nan           14.35  ...            11.47              nan
10             nan           11.82  ...              nan              nan
11             nan           14.51  ...            11.51              nan
12             nan           13.28  ...            10.46              nan
13             nan           13.52  ...            10.49              nan
14             nan           14.61  ...            11.17              nan

    _Missing%_chr22  _Missing%_chr23  _Missing%_chr24  _Missing%_chr25  \
0               nan              nan            15.46            12.03
1             28.49            28.68            35.55            32.88
2             11.42            11.49            15.93            14.39
3             39.56            37.74            36.88            37.54
4               nan              nan            13.66            11.25
5               nan              nan            11.48            10.16
6               nan              nan            12.01              nan
7               nan              nan              nan              nan
8               nan              nan            11.00              nan
9               nan              nan            11.65              nan
10              nan              nan              nan              nan
11              nan              nan            11.88              nan
12              nan              nan            10.83              nan
13              nan              nan            10.88              nan
14              nan              nan            11.71              nan

    _Missing%_chr26  _Missing%_chr27  _Missing%_chr28  _Missing%_chr29
0             16.03              nan            15.25              nan
1             35.16            29.82            35.13            28.26
2             18.57            12.62            15.67            11.81
3             37.08            38.72            36.84            39.44
4             13.55              nan            13.29              nan
5             12.61              nan            11.18              nan
6             11.83              nan            11.42              nan
7             10.27              nan              nan              nan
8             12.90              nan            10.81              nan
9             12.26              nan            10.96              nan
10              nan              nan              nan              nan
11            11.20              nan            11.72              nan
12            10.09              nan            10.53              nan
13            10.17              nan            10.65              nan
14            11.69              nan            11.44              nan

[15 rows x 30 columns]
chm30
                           0        1
0            number of SNPs:  1181922
1                 140447_S11    13380
2                  149323_S6    13820
3                  152721_S5    13079
4                  160822_S4    14944
..                       ...      ...
194  WestHighlandWhiteTerr09    12714
195                Whippet01    15037
196               XiasiDog01    60438
197       YorkshireTerrier01    15860
198       YorkshireTerrier02    17454

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28', '_Missing%_chr29']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  ...  _Missing%_chr21  _Missing%_chr22  \
0              nan           19.18  ...              nan              nan
1            30.09           36.87  ...            28.57            28.49
2            14.04           17.38  ...            12.38            11.42
3            38.44           36.11  ...            38.18            39.56
4              nan           16.64  ...              nan              nan
5              nan           13.13  ...              nan              nan
6              nan           14.64  ...              nan              nan
7              nan           10.01  ...              nan              nan
8              nan           12.83  ...              nan              nan
9              nan           14.35  ...              nan              nan
10             nan           11.82  ...              nan              nan
11             nan           14.51  ...              nan              nan
12             nan           13.28  ...              nan              nan
13             nan           13.52  ...              nan              nan
14             nan           14.61  ...              nan              nan

    _Missing%_chr23  _Missing%_chr24  _Missing%_chr25  _Missing%_chr26  \
0               nan            15.46            12.03            16.03
1             28.68            35.55            32.88            35.16
2             11.49            15.93            14.39            18.57
3             37.74            36.88            37.54            37.08
4               nan            13.66            11.25            13.55
5               nan            11.48            10.16            12.61
6               nan            12.01              nan            11.83
7               nan              nan              nan            10.27
8               nan            11.00              nan            12.90
9               nan            11.65              nan            12.26
10              nan              nan              nan              nan
11              nan            11.88              nan            11.20
12              nan            10.83              nan            10.09
13              nan            10.88              nan            10.17
14              nan            11.71              nan            11.69

    _Missing%_chr27  _Missing%_chr28  _Missing%_chr29  _Missing%_chr30
0               nan            15.25              nan            10.69
1             29.82            35.13            28.26            31.23
2             12.62            15.67            11.81            13.42
3             38.72            36.84            39.44            37.22
4               nan            13.29              nan              nan
5               nan            11.18              nan              nan
6               nan            11.42              nan              nan
7               nan              nan              nan              nan
8               nan            10.81              nan              nan
9               nan            10.96              nan              nan
10              nan              nan              nan              nan
11              nan            11.72              nan              nan
12              nan            10.53              nan              nan
13              nan            10.65              nan              nan
14              nan            11.44              nan              nan

[15 rows x 31 columns]
chm31
                           0        1
0            number of SNPs:  1304523
1                 140447_S11    13513
2                  149323_S6    13736
3                  152721_S5    12809
4                  160822_S4    13487
..                       ...      ...
194  WestHighlandWhiteTerr09    10718
195                Whippet01    15971
196               XiasiDog01    67235
197       YorkshireTerrier01    17049
198       YorkshireTerrier02    17810

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28', '_Missing%_chr29', '_Missing%_chr30']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  ...  _Missing%_chr22  _Missing%_chr23  \
0              nan           19.18  ...              nan              nan
1            30.09           36.87  ...            28.49            28.68
2            14.04           17.38  ...            11.42            11.49
3            38.44           36.11  ...            39.56            37.74
4              nan           16.64  ...              nan              nan
5              nan           13.13  ...              nan              nan
6              nan           14.64  ...              nan              nan
7              nan           10.01  ...              nan              nan
8              nan           12.83  ...              nan              nan
9              nan           14.35  ...              nan              nan
10             nan           11.82  ...              nan              nan
11             nan           14.51  ...              nan              nan
12             nan           13.28  ...              nan              nan
13             nan           13.52  ...              nan              nan
14             nan           14.61  ...              nan              nan

    _Missing%_chr24  _Missing%_chr25  _Missing%_chr26  _Missing%_chr27  \
0             15.46            12.03            16.03              nan
1             35.55            32.88            35.16            29.82
2             15.93            14.39            18.57            12.62
3             36.88            37.54            37.08            38.72
4             13.66            11.25            13.55              nan
5             11.48            10.16            12.61              nan
6             12.01              nan            11.83              nan
7               nan              nan            10.27              nan
8             11.00              nan            12.90              nan
9             11.65              nan            12.26              nan
10              nan              nan              nan              nan
11            11.88              nan            11.20              nan
12            10.83              nan            10.09              nan
13            10.88              nan            10.17              nan
14            11.71              nan            11.69              nan

    _Missing%_chr28  _Missing%_chr29  _Missing%_chr30  _Missing%_chr31
0             15.25              nan            10.69            11.85
1             35.13            28.26            31.23            32.64
2             15.67            11.81            13.42            14.75
3             36.84            39.44            37.22            40.45
4             13.29              nan              nan            12.09
5             11.18              nan              nan            10.03
6             11.42              nan              nan              nan
7               nan              nan              nan              nan
8             10.81              nan              nan              nan
9             10.96              nan              nan              nan
10              nan              nan              nan              nan
11            11.72              nan              nan              nan
12            10.53              nan              nan              nan
13            10.65              nan              nan              nan
14            11.44              nan              nan              nan

[15 rows x 32 columns]
chm32
                           0        1
0            number of SNPs:  1222521
1                 140447_S11    14889
2                  149323_S6    14806
3                  152721_S5    12955
4                  160822_S4    14528
..                       ...      ...
194  WestHighlandWhiteTerr09    13640
195                Whippet01    16842
196               XiasiDog01    47015
197       YorkshireTerrier01    15703
198       YorkshireTerrier02    19735

[199 rows x 2 columns]

perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28', '_Missing%_chr29', '_Missing%_chr30', '_Missing%_chr31', '_Missing%_chr32']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  ...  _Missing%_chr24  _Missing%_chr25  \
0              nan           19.18  ...            15.46            12.03
1            30.09           36.87  ...            35.55            32.88
2            14.04           17.38  ...            15.93            14.39
3            38.44           36.11  ...            36.88            37.54
4              nan           16.64  ...            13.66            11.25
5              nan           13.13  ...            11.48            10.16
6              nan           14.64  ...            12.01              nan
7              nan           10.01  ...              nan              nan
8              nan           12.83  ...            11.00              nan
9              nan           14.35  ...            11.65              nan
10             nan           11.82  ...              nan              nan
11             nan           14.51  ...            11.88              nan
12             nan           13.28  ...            10.83              nan
13             nan           13.52  ...            10.88              nan
14             nan           14.61  ...            11.71              nan

    _Missing%_chr26  _Missing%_chr27  _Missing%_chr28  _Missing%_chr29  \
0             16.03              nan            15.25              nan
1             35.16            29.82            35.13            28.26
2             18.57            12.62            15.67            11.81
3             37.08            38.72            36.84            39.44
4             13.55              nan            13.29              nan
5             12.61              nan            11.18              nan
6             11.83              nan            11.42              nan
7             10.27              nan              nan              nan
8             12.90              nan            10.81              nan
9             12.26              nan            10.96              nan
10              nan              nan              nan              nan
11            11.20              nan            11.72              nan
12            10.09              nan            10.53              nan
13            10.17              nan            10.65              nan
14            11.69              nan            11.44              nan

    _Missing%_chr30  _Missing%_chr31  _Missing%_chr32  _Missing%_chr33
0             10.69            11.85              nan              nan
1             31.23            32.64            26.07            29.21
2             13.42            14.75            11.16            11.45
3             37.22            40.45            39.57            38.54
4               nan            12.09              nan              nan
5               nan            10.03              nan              nan
6               nan              nan              nan              nan
7               nan              nan              nan              nan
8               nan              nan              nan              nan
9               nan              nan              nan              nan
10              nan              nan              nan              nan
11              nan              nan              nan              nan
12              nan              nan              nan              nan
13              nan              nan              nan              nan
14              nan              nan              nan              nan

[15 rows x 34 columns]
chm34
                           0        1
0            number of SNPs:  1401538
1                 140447_S11    16273
2                  149323_S6    15175
3                  152721_S5    14037
4                  160822_S4    14404
..                       ...      ...
194  WestHighlandWhiteTerr09    14971
195                Whippet01    17476
196               XiasiDog01    58818
197       YorkshireTerrier01    19774
198       YorkshireTerrier02    18599

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28', '_Missing%_chr29', '_Missing%_chr30', '_Missing%_chr31', '_Missing%_chr32', '_Missing%_chr33']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  ...  _Missing%_chr25  _Missing%_chr26  \
0              nan           19.18  ...            12.03            16.03
1            30.09           36.87  ...            32.88            35.16
2            14.04           17.38  ...            14.39            18.57
3            38.44           36.11  ...            37.54            37.08
4              nan           16.64  ...            11.25            13.55
5              nan           13.13  ...            10.16            12.61
6              nan           14.64  ...              nan            11.83
7              nan           10.01  ...              nan            10.27
8              nan           12.83  ...              nan            12.90
9              nan           14.35  ...              nan            12.26
10             nan           11.82  ...              nan              nan
11             nan           14.51  ...              nan            11.20
12             nan           13.28  ...              nan            10.09
13             nan           13.52  ...              nan            10.17
14             nan           14.61  ...              nan            11.69

    _Missing%_chr27  _Missing%_chr28  _Missing%_chr29  _Missing%_chr30  \
0               nan            15.25              nan            10.69
1             29.82            35.13            28.26            31.23
2             12.62            15.67            11.81            13.42
3             38.72            36.84            39.44            37.22
4               nan            13.29              nan              nan
5               nan            11.18              nan              nan
6               nan            11.42              nan              nan
7               nan              nan              nan              nan
8               nan            10.81              nan              nan
9               nan            10.96              nan              nan
10              nan              nan              nan              nan
11              nan            11.72              nan              nan
12              nan            10.53              nan              nan
13              nan            10.65              nan              nan
14              nan            11.44              nan              nan

    _Missing%_chr31  _Missing%_chr32  _Missing%_chr33  _Missing%_chr34
0             11.85              nan              nan              nan
1             32.64            26.07            29.21            30.86
2             14.75            11.16            11.45            12.42
3             40.45            39.57            38.54            37.00
4             12.09              nan              nan              nan
5             10.03              nan              nan              nan
6               nan              nan              nan              nan
7               nan              nan              nan              nan
8               nan              nan              nan              nan
9               nan              nan              nan              nan
10              nan              nan              nan              nan
11              nan              nan              nan              nan
12              nan              nan              nan              nan
13              nan              nan              nan              nan
14              nan              nan              nan              nan

[15 rows x 35 columns]
chm35
                           0       1
0            number of SNPs:  871160
1                 140447_S11    9752
2                  149323_S6   10511
3                  152721_S5    9664
4                  160822_S4   10237
..                       ...     ...
194  WestHighlandWhiteTerr09    9838
195                Whippet01   11988
196               XiasiDog01   38283
197       YorkshireTerrier01   12273
198       YorkshireTerrier02   11835

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28', '_Missing%_chr29', '_Missing%_chr30', '_Missing%_chr31', '_Missing%_chr32', '_Missing%_chr33', '_Missing%_chr34']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  ...  _Missing%_chr26  _Missing%_chr27  \
0              nan           19.18  ...            16.03              nan
1            30.09           36.87  ...            35.16            29.82
2            14.04           17.38  ...            18.57            12.62
3            38.44           36.11  ...            37.08            38.72
4              nan           16.64  ...            13.55              nan
5              nan           13.13  ...            12.61              nan
6              nan           14.64  ...            11.83              nan
7              nan           10.01  ...            10.27              nan
8              nan           12.83  ...            12.90              nan
9              nan           14.35  ...            12.26              nan
10             nan           11.82  ...              nan              nan
11             nan           14.51  ...            11.20              nan
12             nan           13.28  ...            10.09              nan
13             nan           13.52  ...            10.17              nan
14             nan           14.61  ...            11.69              nan

    _Missing%_chr28  _Missing%_chr29  _Missing%_chr30  _Missing%_chr31  \
0             15.25              nan            10.69            11.85
1             35.13            28.26            31.23            32.64
2             15.67            11.81            13.42            14.75
3             36.84            39.44            37.22            40.45
4             13.29              nan              nan            12.09
5             11.18              nan              nan            10.03
6             11.42              nan              nan              nan
7               nan              nan              nan              nan
8             10.81              nan              nan              nan
9             10.96              nan              nan              nan
10              nan              nan              nan              nan
11            11.72              nan              nan              nan
12            10.53              nan              nan              nan
13            10.65              nan              nan              nan
14            11.44              nan              nan              nan

    _Missing%_chr32  _Missing%_chr33  _Missing%_chr34  _Missing%_chr35
0               nan              nan              nan              nan
1             26.07            29.21            30.86            29.76
2             11.16            11.45            12.42            11.81
3             39.57            38.54            37.00            35.99
4               nan              nan              nan              nan
5               nan              nan              nan              nan
6               nan              nan              nan              nan
7               nan              nan              nan              nan
8               nan              nan              nan              nan
9               nan              nan              nan              nan
10              nan              nan              nan              nan
11              nan              nan              nan              nan
12              nan              nan              nan              nan
13              nan              nan              nan              nan
14              nan              nan              nan              nan

[15 rows x 36 columns]
chm36
                           0       1
0            number of SNPs:  912303
1                 140447_S11    9986
2                  149323_S6   10341
3                  152721_S5   10044
4                  160822_S4   11058
..                       ...     ...
194  WestHighlandWhiteTerr09    8753
195                Whippet01   11168
196               XiasiDog01   36594
197       YorkshireTerrier01   11695

                           0       1
0            number of SNPs:  822301
1                 140447_S11   10773
2                  149323_S6   10042
3                  152721_S5   10010
4                  160822_S4    9165
..                       ...     ...
194  WestHighlandWhiteTerr09    9527
195                Whippet01   13034
196               XiasiDog01   43351
197       YorkshireTerrier01   11295
198       YorkshireTerrier02   11865

[199 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28', '_Missing%_chr29', '_Missing%_chr30', '_Missing%_chr31', '_Missing%_chr32', '_Missing%_chr33', '_Missing%_chr34', '_Missing%_chr35', '_Missing%_chr36', '_Missing%_chr37']
       samples  _Missing%_chr1  _Missing%_chr2  _Missing%_chr3  \
0     PER00167           10.23           13.47             nan
1     PER00393           31.58           33.70           30.00
2     PER00438           13.21           16.19           12.25
3     PER00747           36.77           37.40           37.91
4     BAN00150             nan           12.06             nan
5   ChowChow01             nan           10.93             nan
6     PER00313             nan           10.26             nan
7        NGSD2             nan             nan             nan
8        NGSD3             nan             nan             nan
9     PER00152             nan             nan             nan
10    PER00177             nan             nan             nan
11    PER00408             nan             nan             nan
12    PER00409             nan             nan             nan
13    PER00484             nan             nan             nan
14    PER00806             nan             nan             nan

    _Missing%_chr4  _Missing%_chr5  _Missing%_chr6  _Missing%_chr7  \
0              nan           13.47           11.50             nan
1            29.96           33.61           32.04           29.92
2            11.98           13.27           13.38           12.36
3            37.97           35.43           36.48           37.27
4              nan           11.27           10.52             nan
5              nan             nan             nan             nan
6              nan             nan             nan             nan
7              nan             nan             nan             nan
8              nan             nan             nan             nan
9              nan             nan             nan             nan
10             nan             nan             nan             nan
11             nan             nan             nan             nan
12             nan             nan             nan             nan
13             nan             nan             nan             nan
14             nan             nan             nan             nan

    _Missing%_chr8  _Missing%_chr9  ...  _Missing%_chr29  _Missing%_chr30  \
0              nan           19.18  ...              nan            10.69
1            30.09           36.87  ...            28.26            31.23
2            14.04           17.38  ...            11.81            13.42
3            38.44           36.11  ...            39.44            37.22
4              nan           16.64  ...              nan              nan
5              nan           13.13  ...              nan              nan
6              nan           14.64  ...              nan              nan
7              nan           10.01  ...              nan              nan
8              nan           12.83  ...              nan              nan
9              nan           14.35  ...              nan              nan
10             nan           11.82  ...              nan              nan
11             nan           14.51  ...              nan              nan
12             nan           13.28  ...              nan              nan
13             nan           13.52  ...              nan              nan
14             nan           14.61  ...              nan              nan

    _Missing%_chr31  _Missing%_chr32  _Missing%_chr33  _Missing%_chr34  \
0             11.85              nan              nan              nan
1             32.64            26.07            29.21            30.86
2             14.75            11.16            11.45            12.42
3             40.45            39.57            38.54            37.00
4             12.09              nan              nan              nan
5             10.03              nan              nan              nan
6               nan              nan              nan              nan
7               nan              nan              nan              nan
8               nan              nan              nan              nan
9               nan              nan              nan              nan
10              nan              nan              nan              nan
11              nan              nan              nan              nan
12              nan              nan              nan              nan
13              nan              nan              nan              nan
14              nan              nan              nan              nan

    _Missing%_chr35  _Missing%_chr36  _Missing%_chr37  _Missing%_chr38
0               nan              nan              nan            10.92
1             29.76            28.64            29.55            31.41
2             11.81            10.13            11.24            12.85
3             35.99            37.22            36.39            38.41
4               nan              nan              nan            10.43
5               nan              nan              nan              nan
6               nan              nan              nan              nan
7               nan              nan              nan              nan
8               nan              nan              nan              nan
9               nan              nan              nan              nan
10              nan              nan              nan              nan
11              nan              nan              nan              nan
12              nan              nan              nan              nan
13              nan              nan              nan              nan
14              nan              nan              nan              nan

[15 rows x 39 columns]

In [19]:
df_rm_outer

,samples,_Missing%_chr1,_Missing%_chr2,_Missing%_chr3,_Missing%_chr4,_Missing%_chr5,_Missing%_chr6,_Missing%_chr7,_Missing%_chr8,_Missing%_chr9,...,_Missing%_chr29,_Missing%_chr30,_Missing%_chr31,_Missing%_chr32,_Missing%_chr33,_Missing%_chr34,_Missing%_chr35,_Missing%_chr36,_Missing%_chr37,_Missing%_chr38
0,PER00167,10.23,13.47,nan,nan,13.47,11.50,nan,nan,19.18,...,nan,10.69,11.85,nan,nan,nan,nan,nan,nan,10.92
1,PER00393,31.58,33.70,30.00,29.96,33.61,32.04,29.92,30.09,36.87,...,28.26,31.23,32.64,26.07,29.21,30.86,29.76,28.64,29.55,31.41
2,PER00438,13.21,16.19,12.25,11.98,13.27,13.38,12.36,14.04,17.38,...,11.81,13.42,14.75,11.16,11.45,12.42,11.81,10.13,11.24,12.85
3,PER00747,36.77,37.40,37.91,37.97,35.43,36.48,37.27,38.44,36.11,...,39.44,37.22,40.45,39.57,38.54,37.00,35.99,37.22,36.39,38.41
4,BAN00150,nan,12.06,nan,nan,11.27,10.52,nan,nan,16.64,...,nan,nan,12.09,nan,nan,nan,nan,nan,nan,10.43
5,ChowChow01,nan,10.93,nan,nan,nan,nan,nan,nan,13.13,...,nan,nan,10.03,nan,nan,nan,nan,nan,nan,nan
6,PER00313,nan,10.26,nan,nan,nan,nan,nan,nan,14.64,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7,NGSD2,nan,nan,nan,nan,nan,nan,nan,nan,10.01,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
8,NGSD3,nan,nan,nan,nan,nan,nan,nan,nan,12.83,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
9,PER00152,nan,nan,nan,nan,nan,nan,nan,nan,14.35,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
10,PER00177,nan,nan,nan,nan,nan,nan,nan,nan,11.82,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
11,PER00408,nan,nan,nan,nan,nan,nan,nan,nan,14.51,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
12,PER00409,nan,nan,nan,nan,nan,nan,nan,nan,13.28,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
13,PER00484,nan,nan,nan,nan,nan,nan,nan,nan,13.52,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
14,PER00806,nan,nan,nan,nan,nan,nan,nan,nan,14.61,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [20]:
df_rm_info = df_rm_outer.merge(metadata[["Name_ID", "Breed/CommonName"]], how="left", left_on="samples", \
                               right_on="Name_ID").drop(columns=["Name_ID"])
df_rm_info

,samples,_Missing%_chr1,_Missing%_chr2,_Missing%_chr3,_Missing%_chr4,_Missing%_chr5,_Missing%_chr6,_Missing%_chr7,_Missing%_chr8,_Missing%_chr9,...,_Missing%_chr30,_Missing%_chr31,_Missing%_chr32,_Missing%_chr33,_Missing%_chr34,_Missing%_chr35,_Missing%_chr36,_Missing%_chr37,_Missing%_chr38,Breed/CommonName
0,PER00167,10.23,13.47,nan,nan,13.47,11.50,nan,nan,19.18,...,10.69,11.85,nan,nan,nan,nan,nan,nan,10.92,Labrador Retriever
1,PER00393,31.58,33.70,30.00,29.96,33.61,32.04,29.92,30.09,36.87,...,31.23,32.64,26.07,29.21,30.86,29.76,28.64,29.55,31.41,Yorkshire Terrier
2,PER00438,13.21,16.19,12.25,11.98,13.27,13.38,12.36,14.04,17.38,...,13.42,14.75,11.16,11.45,12.42,11.81,10.13,11.24,12.85,Yorkshire Terrier
3,PER00747,36.77,37.40,37.91,37.97,35.43,36.48,37.27,38.44,36.11,...,37.22,40.45,39.57,38.54,37.00,35.99,37.22,36.39,38.41,Yorkshire Terrier
4,BAN00150,nan,12.06,nan,nan,11.27,10.52,nan,nan,16.64,...,nan,12.09,nan,nan,nan,nan,nan,nan,10.43,Yorkshire Terrier
5,ChowChow01,nan,10.93,nan,nan,nan,nan,nan,nan,13.13,...,nan,10.03,nan,nan,nan,nan,nan,nan,nan,Chow Chow
6,PER00313,nan,10.26,nan,nan,nan,nan,nan,nan,14.64,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Yorkshire Terrier
7,NGSD2,nan,nan,nan,nan,nan,nan,nan,nan,10.01,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,New Guinea Singing Dog
8,NGSD3,nan,nan,nan,nan,nan,nan,nan,nan,12.83,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,New Guinea Singing Dog
9,PER00152,nan,nan,nan,nan,nan,nan,nan,nan,14.35,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Yorkshire Terrier
10,PER00177,nan,nan,nan,nan,nan,nan,nan,nan,11.82,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Labrador Retriever
11,PER00408,nan,nan,nan,nan,nan,nan,nan,nan,14.51,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Yorkshire Terrier
12,PER00409,nan,nan,nan,nan,nan,nan,nan,nan,13.28,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Yorkshire Terrier
13,PER00484,nan,nan,nan,nan,nan,nan,nan,nan,13.52,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Yorkshire Terrier
14,PER00806,nan,nan,nan,nan,nan,nan,nan,nan,14.61,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Yorkshire Terrier

In [21]:
# move the Breed Name up front
df_pop=df_rm_info['Breed/CommonName']
df_rm_info.drop(columns=['Breed/CommonName'], inplace=True)
df_rm_info.insert(1,'Population', df_pop)
df_rm_info

,samples,Population,_Missing%_chr1,_Missing%_chr2,_Missing%_chr3,_Missing%_chr4,_Missing%_chr5,_Missing%_chr6,_Missing%_chr7,_Missing%_chr8,...,_Missing%_chr29,_Missing%_chr30,_Missing%_chr31,_Missing%_chr32,_Missing%_chr33,_Missing%_chr34,_Missing%_chr35,_Missing%_chr36,_Missing%_chr37,_Missing%_chr38
0,PER00167,Labrador Retriever,10.23,13.47,nan,nan,13.47,11.50,nan,nan,...,nan,10.69,11.85,nan,nan,nan,nan,nan,nan,10.92
1,PER00393,Yorkshire Terrier,31.58,33.70,30.00,29.96,33.61,32.04,29.92,30.09,...,28.26,31.23,32.64,26.07,29.21,30.86,29.76,28.64,29.55,31.41
2,PER00438,Yorkshire Terrier,13.21,16.19,12.25,11.98,13.27,13.38,12.36,14.04,...,11.81,13.42,14.75,11.16,11.45,12.42,11.81,10.13,11.24,12.85
3,PER00747,Yorkshire Terrier,36.77,37.40,37.91,37.97,35.43,36.48,37.27,38.44,...,39.44,37.22,40.45,39.57,38.54,37.00,35.99,37.22,36.39,38.41
4,BAN00150,Yorkshire Terrier,nan,12.06,nan,nan,11.27,10.52,nan,nan,...,nan,nan,12.09,nan,nan,nan,nan,nan,nan,10.43
5,ChowChow01,Chow Chow,nan,10.93,nan,nan,nan,nan,nan,nan,...,nan,nan,10.03,nan,nan,nan,nan,nan,nan,nan
6,PER00313,Yorkshire Terrier,nan,10.26,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7,NGSD2,New Guinea Singing Dog,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
8,NGSD3,New Guinea Singing Dog,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
9,PER00152,Yorkshire Terrier,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
10,PER00177,Labrador Retriever,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
11,PER00408,Yorkshire Terrier,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
12,PER00409,Yorkshire Terrier,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
13,PER00484,Yorkshire Terrier,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
14,PER00806,Yorkshire Terrier,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [22]:
df_rm_info[['samples', 'Population']].values

array([['PER00167', 'Labrador Retriever'],
       ['PER00393', 'Yorkshire Terrier'],
       ['PER00438', 'Yorkshire Terrier'],
       ['PER00747', 'Yorkshire Terrier'],
       ['BAN00150', 'Yorkshire Terrier'],
       ['ChowChow01', 'Chow Chow'],
       ['PER00313', 'Yorkshire Terrier'],
       ['NGSD2', 'New Guinea Singing Dog'],
       ['NGSD3', 'New Guinea Singing Dog'],
       ['PER00152', 'Yorkshire Terrier'],
       ['PER00177', 'Labrador Retriever'],
       ['PER00408', 'Yorkshire Terrier'],
       ['PER00409', 'Yorkshire Terrier'],
       ['PER00484', 'Yorkshire Terrier'],
       ['PER00806', 'Yorkshire Terrier']], dtype=object)

In [23]:
# save these as the samples to be removed
#form new sample map with these samples removed
df_rm_info.to_csv(''.join([osp.join(out_path, 'dogs'),'/delete_samples.tsv']) , index=None, sep="\t")

In [24]:
# get the indexes where Sample is in list df_rm_info['samples']
ref_sample_map_keep=ref_sample_map[~(ref_sample_map['Sample'].isin(df_rm_info['samples']))].reset_index(drop=True)

In [25]:
ref_sample_map[ref_sample_map['Sample'].isin(df_rm_info['samples'])]

         Sample              Population    Superpopulation code
154  ChowChow01               Chow Chow               Chow Chow
318    PER00167      Labrador Retriever      Labrador Retriever
319    PER00177      Labrador Retriever      Labrador Retriever
349       NGSD2  New Guinea Singing Dog  New Guinea Singing Dog
350       NGSD3  New Guinea Singing Dog  New Guinea Singing Dog
600    BAN00150       Yorkshire Terrier       Yorkshire Terrier
620    PER00152       Yorkshire Terrier       Yorkshire Terrier
625    PER00313       Yorkshire Terrier       Yorkshire Terrier
632    PER00393       Yorkshire Terrier       Yorkshire Terrier
634    PER00408       Yorkshire Terrier       Yorkshire Terrier
635    PER00409       Yorkshire Terrier       Yorkshire Terrier
638    PER00438       Yorkshire Terrier       Yorkshire Terrier
643    PER00484       Yorkshire Terrier       Yorkshire Terrier
659    PER00747       Yorkshire Terrier       Yorkshire Terrier
663    PER00806       Yorkshire Terrier       Yorkshire Terrier

In [26]:
ref_sample_map_keep

                 Sample         Population Superpopulation code
0         AfghanHound01       Afghan Hound         Afghan Hound
1         AfghanHound03       Afghan Hound         Afghan Hound
2         AfghanHound04       Afghan Hound         Afghan Hound
3     AiredaleTerrier01   Airedale Terrier     Airedale Terrier
4     AiredaleTerrier02   Airedale Terrier     Airedale Terrier
..                  ...                ...                  ...
647            PER00758  Yorkshire Terrier    Yorkshire Terrier
648            PER00777  Yorkshire Terrier    Yorkshire Terrier
649            PER00816  Yorkshire Terrier    Yorkshire Terrier
650  YorkshireTerrier01  Yorkshire Terrier    Yorkshire Terrier
651  YorkshireTerrier02  Yorkshire Terrier    Yorkshire Terrier

[652 rows x 3 columns]

In [27]:
ref_sample_map_keep.to_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_b.txt' ]), index=False, sep="\t", header=None)

In [28]:
ref_sample_map_keep.to_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_b.tsv' ]), index=False, sep="\t")

# remove anything with MIX, Unknown, Village Dog

In [8]:
ref_sample_map_keep=pd.read_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_b.tsv']) , sep="\t")
ref_sample_map_keep

                 Sample         Population Superpopulation code
0         AfghanHound01       Afghan Hound         Afghan Hound
1         AfghanHound03       Afghan Hound         Afghan Hound
2         AfghanHound04       Afghan Hound         Afghan Hound
3     AiredaleTerrier01   Airedale Terrier     Airedale Terrier
4     AiredaleTerrier02   Airedale Terrier     Airedale Terrier
..                  ...                ...                  ...
647            PER00758  Yorkshire Terrier    Yorkshire Terrier
648            PER00777  Yorkshire Terrier    Yorkshire Terrier
649            PER00816  Yorkshire Terrier    Yorkshire Terrier
650  YorkshireTerrier01  Yorkshire Terrier    Yorkshire Terrier
651  YorkshireTerrier02  Yorkshire Terrier    Yorkshire Terrier

[652 rows x 3 columns]

In [19]:
rm_samples=ref_sample_map_keep[ref_sample_map_keep['Population'].str.contains(r"\b(?:mix|unknown|village|kunming)\b", case=False)]
rm_samples

                Sample             Population   Superpopulation code
288    VillDog_China10            Kunming Dog            Kunming Dog
289    VillDog_China11            Kunming Dog            Kunming Dog
290    VillDog_China12            Kunming Dog            Kunming Dog
291    VillDog_China13            Kunming Dog            Kunming Dog
292    VillDog_China14            Kunming Dog            Kunming Dog
..                 ...                    ...                    ...
565  VillDog_Vietnam02  Village Dog - Vietnam  Village Dog - Vietnam
566  VillDog_Vietnam03  Village Dog - Vietnam  Village Dog - Vietnam
567  VillDog_Vietnam04  Village Dog - Vietnam  Village Dog - Vietnam
568  VillDog_Vietnam05  Village Dog - Vietnam  Village Dog - Vietnam
569  VillDog_Vietnam06  Village Dog - Vietnam  Village Dog - Vietnam

[123 rows x 3 columns]

In [21]:
rm_samples['Sample'].to_numpy()

array(['VillDog_China10', 'VillDog_China11', 'VillDog_China12',
       'VillDog_China13', 'VillDog_China14', 'VillDog_China15',
       'VillDog_China16', 'C3549', 'C750', 'C783', 'CFA.118000', 'GR1078',
       'MIX_KerryBlueTerrier_Beagle01', 'LA2382', 'A168', 'MI016',
       'MixedBreed07', 'MixedBreed06', 'VillDog_China17',
       'VillDog_China18', 'VillDog_China19', 'UnknownBreed09',
       'KunmingDog01', '406434N', 'BH003', 'JR0034', 'UnknownBreed02',
       'UnknownBreed03', 'UnknownBreed04', 'UnknownBreed05',
       'UnknownBreed07', 'UnknownBreed10', 'UnknownBreed11',
       'UnknownBreed12', 'UnknownBreed13', 'WGS-76N', 'AF14-170_S13',
       'AF14-259_S12', 'AF14-260_S7', 'AF14-296_S9', 'AF14-297_S10',
       'AF15-019_S2', 'AF15-074_S4', 'AF15-098_S11', 'NA13-359_S6',
       'NA14-125_S8', 'NA14-126_S5', 'BAN00143', 'VillDog_Australia01',
       'VillDog_Borneo01', 'VillDog_Borneo02', 'VillDog_Borneo03',
       'VillDog_China09', 'VillDog_China01', 'VillDog_China02',
       'VillDog_China03', 'VillDog_China04', 'VillDog_China05',
       'VillDog_China06', 'VillDog_China07', 'VillDog_China08',
       'VillDog_China20', 'VillDog_China21', 'VillDog_China22',
       'VillDog_China23', 'VillDog_China24', 'VillDog_China25',
       'VillDog_China26', 'VillDog_China27', 'VillDog_China28',
       'VillDog_China29', 'VillDog_China30', 'VillDog_China31',
       'VillDog_China32', 'VillDog_China33', 'VillDog_China34',
       'VillDog_China35', 'VillDog_China36', 'VillDog_China37',
       'VillDog_China38', 'VillDog_China39', 'VillDog_China40',
       'VillDog_China41', 'VillDog_China42', 'VillDog_China43',
       'VillDog_China44', 'VillDog_China45', 'VillDog_China46',
       'VillDog_China47', 'VillDog_China48', 'VillDog_China49',
       'VillDog_China50', 'VillDog_China51', 'VillDog_China52',
       'VillDog_Egypt01', 'VillDog_Egypt02', 'VillDog_India01',
       'VillDog_India02', 'VillDog_India03', 'VillDog_India04',
       'VillDog_India05', 'VillDog_Lebanon01', 'VillDog_Lebanon02',
       'VillDog_Lebanon03', 'VillDog_Namibia01', 'VillDog_Namibia02',
       'VillDog_Namibia03', 'VillDog_PapuaNG01', 'VillDog_PapuaNG02',
       'VillDog_PapuaNG03', 'PT49', 'VillDog_Portugal01',
       'VillDog_Portugal02', 'VillDog_Qatar01', 'VillDog_Qatar02',
       'VillDog_Africa01', 'VillDog_Taiwan01', 'VillDog_Vietnam01',
       'VillDog_Vietnam02', 'VillDog_Vietnam03', 'VillDog_Vietnam04',
       'VillDog_Vietnam05', 'VillDog_Vietnam06'], dtype=object)

In [22]:
len(rm_samples)

123

In [23]:
ref_sample_map_keep=ref_sample_map_keep[~ref_sample_map_keep['Sample'].isin(rm_samples['Sample'])].reset_index(drop=True)
ref_sample_map_keep

                 Sample         Population Superpopulation code
0         AfghanHound01       Afghan Hound         Afghan Hound
1         AfghanHound03       Afghan Hound         Afghan Hound
2         AfghanHound04       Afghan Hound         Afghan Hound
3     AiredaleTerrier01   Airedale Terrier     Airedale Terrier
4     AiredaleTerrier02   Airedale Terrier     Airedale Terrier
..                  ...                ...                  ...
524            PER00758  Yorkshire Terrier    Yorkshire Terrier
525            PER00777  Yorkshire Terrier    Yorkshire Terrier
526            PER00816  Yorkshire Terrier    Yorkshire Terrier
527  YorkshireTerrier01  Yorkshire Terrier    Yorkshire Terrier
528  YorkshireTerrier02  Yorkshire Terrier    Yorkshire Terrier

[529 rows x 3 columns]

In [24]:
ref_sample_map_keep.to_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_d.txt']), index=None, sep="\t", header=None)
ref_sample_map_keep.to_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_d.tsv']), index=None, sep="\t")

In [34]:
# ref_sample_map_keep.to_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_c.txt']), index=None, sep="\t", header=None)
# ref_sample_map_keep.to_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_c.tsv']), index=None, sep="\t")

# Make granular pop for expt1.txt

In [8]:
ref_map_expt1=pd.read_csv(osp.join(in_path,"dogs/expt1.txt"), sep="\t", header=None)
ref_map_expt1

                      0          1
0            140447_S11  Retriever
1             149323_S6  Retriever
2             152721_S5  Retriever
3             160822_S4  Retriever
4             164612_S9  Retriever
..                  ...        ...
242       WolfTibetan07       Wolf
243       WolfTibetan08       Wolf
244          XiasiDog01       East
245  YorkshireTerrier01    Terrier
246  YorkshireTerrier02    Terrier

[247 rows x 2 columns]

In [9]:
ref_map_expt1=ref_map_expt1.merge(metadata[['Name_ID', 'Breed/CommonName']], \
                                  left_on=0, right_on="Name_ID", how="left")
ref_map_expt1.drop(columns=["Name_ID"], inplace=True)

In [10]:
ref_map_expt1.rename(columns={0:'Sample', 1:'Superpopulation code', 'Breed/CommonName':'Population'}, inplace=True)

In [11]:
ref_map_expt1_w_wolf_coyote = ref_map_expt1.to_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_expt1_w_wolf_coyote.tsv' ]),\
                                                   index=False, sep="\t")

In [27]:
ref_map_expt1=ref_map_expt1[~ref_map_expt1["Superpopulation code"].isin(["Wolf", "Coyote"])]

In [28]:
ref_map_expt1

                      Sample Superpopulation code                   Population
0                 140447_S11            Retriever             Golden Retriever
1                  149323_S6            Retriever           Labrador Retriever
2                  152721_S5            Retriever           Labrador Retriever
3                  160822_S4            Retriever           Labrador Retriever
4                  164612_S9            Retriever             Golden Retriever
..                       ...                  ...                          ...
203  WestHighlandWhiteTerr09              Terrier  West Highland White Terrier
204                Whippet01            Greyhound                      Whippet
244               XiasiDog01                 East                    Xiasi Dog
245       YorkshireTerrier01              Terrier            Yorkshire Terrier
246       YorkshireTerrier02              Terrier            Yorkshire Terrier

[198 rows x 3 columns]

In [29]:
# ref_map_expt1.to_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_expt1.tsv' ]), index=False, sep="\t")

# find the problem samples for sample map d

In [25]:
import os.path as osp
start_chr=31
end_chr=38
pd.options.display.float_format = '{:.2f}'.format
for i in range(start_chr, end_chr+1):
    print(f"chm{i}")
    df_chr = pd.read_csv(''.join([osp.join(out_path,'dogs', 'sm_d/chr'+str(i)),'/chr'+str(i)+'_nMissing.txt']), sep="\t", header=None)
    print(df_chr)
    df_chr_missing = df_chr[1:].copy()
    df_chr_missing.columns=['samples', 'nMissing']
    df_chr_missing['_Missing%'] = df_chr_missing['nMissing']*100/df_chr.iloc[0,1]
    
    df_rm_samples = df_chr_missing[df_chr_missing['_Missing%']>10]
    perc_cols=[col for col in df_rm_outer.columns if '_Missing%' in col] if i>start_chr else '_Missing%'
    print(f"perc_cols:{perc_cols}")
    df_rm_outer = df_rm_outer[['samples', *perc_cols]].merge(df_rm_samples[['samples', '_Missing%']], \
                    how="outer", on="samples") if i>start_chr else df_rm_samples[['samples', '_Missing%']]
    df_rm_outer.rename(columns={'_Missing%':'_Missing%_chr'+str(i)}, inplace=True)
    print(df_rm_outer)

chm31
                      0        1
0       number of SNPs:  1304523
1         AfghanHound01    18554
2         AfghanHound03    55787
3         AfghanHound04    30497
4     AiredaleTerrier01    68991
..                  ...      ...
525            PER00758    22347
526            PER00777    23736
527            PER00816    23282
528  YorkshireTerrier01    17049
529  YorkshireTerrier02    17810

[530 rows x 2 columns]
perc_cols:_Missing%
               samples  _Missing%_chr31
110            Boxer01            37.49
365              Pug01            18.26
366              Pug02            19.43
368              Pug04            23.78
416     SpanishGalgo01            12.94
427  SwedishLapphund01            10.61
441          Tornjak01            17.10
chm32
                      0        1
0       number of SNPs:  1222521
1         AfghanHound01    16947
2         AfghanHound03    50660
3         AfghanHound04    27949
4     AiredaleTerrier01    31145
..                  ...      ...
525            PER00758    20109
526            PER00777    21442
527            PER00816    20209
528  YorkshireTerrier01    15703
529  YorkshireTerrier02    19735

[530 rows x 2 columns]
perc_cols:['_Missing%_chr31']
             samples  _Missing%_chr31  _Missing%_chr32
0            Boxer01            37.49           100.00
1              Pug01            18.26              nan
2              Pug02            19.43              nan
3              Pug04            23.78            10.53
4     SpanishGalgo01            12.94              nan
5  SwedishLapphund01            10.61              nan
6          Tornjak01            17.10              nan
chm33
                      0       1
0       number of SNPs:  981145
1         AfghanHound01   14971
2         AfghanHound03   41366
3         AfghanHound04   24687
4     AiredaleTerrier01   35602
..                  ...     ...
525            PER00758   19860
526            PER00777   19308
527            PER00816   17664
528  YorkshireTerrier01   13640
529  YorkshireTerrier02   17409

[530 rows x 2 columns]
perc_cols:['_Missing%_chr31', '_Missing%_chr32']
             samples  _Missing%_chr31  _Missing%_chr32  _Missing%_chr33
0            Boxer01            37.49           100.00           100.00
1              Pug01            18.26              nan            12.98
2              Pug02            19.43              nan            14.26
3              Pug04            23.78            10.53            18.97
4     SpanishGalgo01            12.94              nan              nan
5  SwedishLapphund01            10.61              nan              nan
6          Tornjak01            17.10              nan            13.34
chm34
                      0        1
0       number of SNPs:  1401538
1         AfghanHound01    20116
2         AfghanHound03    51687
3         AfghanHound04    28810
4     AiredaleTerrier01    44684
..                  ...      ...
525            PER00758    25793
526            PER00777    22946
527            PER00816    23284
528  YorkshireTerrier01    19774
529  YorkshireTerrier02    18599

[530 rows x 2 columns]
perc_cols:['_Missing%_chr31', '_Missing%_chr32', '_Missing%_chr33']
             samples  _Missing%_chr31  _Missing%_chr32  _Missing%_chr33  \
0            Boxer01            37.49           100.00           100.00
1              Pug01            18.26              nan            12.98
2              Pug02            19.43              nan            14.26
3              Pug04            23.78            10.53            18.97
4     SpanishGalgo01            12.94              nan              nan
5  SwedishLapphund01            10.61              nan              nan
6          Tornjak01            17.10              nan            13.34

   _Missing%_chr34
0           100.00
1            14.87
2            16.48
3            23.28
4              nan
5              nan
6            14.44
chm35
                      0       1
0       number of SNPs:  871160
1         AfghanHound01   12533
2         AfghanHound03   32634
3         AfghanHound04   20060
4     AiredaleTerrier01   27951
..                  ...     ...
525            PER00758   15817
526            PER00777   15423
527            PER00816   14615
528  YorkshireTerrier01   12273
529  YorkshireTerrier02   11835

[530 rows x 2 columns]
perc_cols:['_Missing%_chr31', '_Missing%_chr32', '_Missing%_chr33', '_Missing%_chr34']
             samples  _Missing%_chr31  _Missing%_chr32  _Missing%_chr33  \
0            Boxer01            37.49           100.00           100.00
1              Pug01            18.26              nan            12.98
2              Pug02            19.43              nan            14.26
3              Pug04            23.78            10.53            18.97
4     SpanishGalgo01            12.94              nan              nan
5  SwedishLapphund01            10.61              nan              nan
6          Tornjak01            17.10              nan            13.34

   _Missing%_chr34  _Missing%_chr35
0           100.00           100.00
1            14.87            14.17
2            16.48            16.06
3            23.28            24.09
4              nan              nan
5              nan              nan
6            14.44            14.70
chm36
                      0       1
0       number of SNPs:  912303
1         AfghanHound01   13244
2         AfghanHound03   36446
3         AfghanHound04   20375
4     AiredaleTerrier01   26292
..                  ...     ...
525            PER00758   14913
526            PER00777   14992
527            PER00816   14864
528  YorkshireTerrier01   11695
529  YorkshireTerrier02   12853

[530 rows x 2 columns]
perc_cols:['_Missing%_chr31', '_Missing%_chr32', '_Missing%_chr33', '_Missing%_chr34', '_Missing%_chr35']
             samples  _Missing%_chr31  _Missing%_chr32  _Missing%_chr33  \
0            Boxer01            37.49           100.00           100.00
1              Pug01            18.26              nan            12.98
2              Pug02            19.43              nan            14.26
3              Pug04            23.78            10.53            18.97
4     SpanishGalgo01            12.94              nan              nan
5  SwedishLapphund01            10.61              nan              nan
6          Tornjak01            17.10              nan            13.34

   _Missing%_chr34  _Missing%_chr35  _Missing%_chr36
0           100.00           100.00           100.00
1            14.87            14.17            10.16
2            16.48            16.06            11.35
3            23.28            24.09            15.88
4              nan              nan              nan
5              nan              nan              nan
6            14.44            14.70            11.22
chm37
                      0       1
0       number of SNPs:  977540
1         AfghanHound01   12319
2         AfghanHound03   34925
3         AfghanHound04   19510
4     AiredaleTerrier01   30580
..                  ...     ...
525            PER00758   15358
526            PER00777   15221
527            PER00816   15167
528  YorkshireTerrier01   11370
529  YorkshireTerrier02   12649

[530 rows x 2 columns]
perc_cols:['_Missing%_chr31', '_Missing%_chr32', '_Missing%_chr33', '_Missing%_chr34', '_Missing%_chr35', '_Missing%_chr36']
             samples  _Missing%_chr31  _Missing%_chr32  _Missing%_chr33  \
0            Boxer01            37.49           100.00           100.00
1              Pug01            18.26              nan            12.98
2              Pug02            19.43              nan            14.26
3              Pug04            23.78            10.53            18.97
4     SpanishGalgo01            12.94              nan              nan
5  SwedishLapphund01            10.61              nan              nan
6          Tornjak01            17.10              nan            13.34

   _Missing%_chr34  _Missing%_chr35  _Missing%_chr36  _Missing%_chr37
0           100.00           100.00           100.00           100.00
1            14.87            14.17            10.16            14.18
2            16.48            16.06            11.35            15.73
3            23.28            24.09            15.88            21.49
4              nan              nan              nan              nan
5              nan              nan              nan              nan
6            14.44            14.70            11.22            13.87
chm38
                      0       1
0       number of SNPs:  822301
1         AfghanHound01   15245
2         AfghanHound03   36130
3         AfghanHound04   20159
4     AiredaleTerrier01   33399
..                  ...     ...
525            PER00758   14164
526            PER00777   15293
527            PER00816   14243
528  YorkshireTerrier01   11295
529  YorkshireTerrier02   11865

[530 rows x 2 columns]

perc_cols:['_Missing%_chr31', '_Missing%_chr32', '_Missing%_chr33', '_Missing%_chr34', '_Missing%_chr35', '_Missing%_chr36', '_Missing%_chr37']
             samples  _Missing%_chr31  _Missing%_chr32  _Missing%_chr33  \
0            Boxer01            37.49           100.00           100.00
1              Pug01            18.26              nan            12.98
2              Pug02            19.43              nan            14.26
3              Pug04            23.78            10.53            18.97
4     SpanishGalgo01            12.94              nan              nan
5  SwedishLapphund01            10.61              nan              nan
6          Tornjak01            17.10              nan            13.34

   _Missing%_chr34  _Missing%_chr35  _Missing%_chr36  _Missing%_chr37  \
0           100.00           100.00           100.00           100.00
1            14.87            14.17            10.16            14.18
2            16.48            16.06            11.35            15.73
3            23.28            24.09            15.88            21.49
4              nan              nan              nan              nan
5              nan              nan              nan              nan
6            14.44            14.70            11.22            13.87

   _Missing%_chr38
0           100.00
1            17.31
2            19.35
3            25.88
4            10.40
5              nan
6            16.94

/share/software/user/open/py-pandas/1.0.3_py36/lib/python3.6/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [26]:
df_rm_outer

,samples,_Missing%_chr31,_Missing%_chr32,_Missing%_chr33,_Missing%_chr34,_Missing%_chr35,_Missing%_chr36,_Missing%_chr37,_Missing%_chr38
0,Boxer01,37.49,100.00,100.00,100.00,100.00,100.00,100.00,100.00
1,Pug01,18.26,nan,12.98,14.87,14.17,10.16,14.18,17.31
2,Pug02,19.43,nan,14.26,16.48,16.06,11.35,15.73,19.35
3,Pug04,23.78,10.53,18.97,23.28,24.09,15.88,21.49,25.88
4,SpanishGalgo01,12.94,nan,nan,nan,nan,nan,nan,10.40
5,SwedishLapphund01,10.61,nan,nan,nan,nan,nan,nan,nan
6,Tornjak01,17.10,nan,13.34,14.44,14.70,11.22,13.87,16.94

In [27]:
df_rm_info = df_rm_outer.merge(metadata[["Name_ID", "Breed/CommonName"]], how="left", left_on="samples", \
                               right_on="Name_ID").drop(columns=["Name_ID"])
df_rm_info

,samples,_Missing%_chr31,_Missing%_chr32,_Missing%_chr33,_Missing%_chr34,_Missing%_chr35,_Missing%_chr36,_Missing%_chr37,_Missing%_chr38,Breed/CommonName
0,Boxer01,37.49,100.00,100.00,100.00,100.00,100.00,100.00,100.00,Boxer
1,Pug01,18.26,nan,12.98,14.87,14.17,10.16,14.18,17.31,Pug
2,Pug02,19.43,nan,14.26,16.48,16.06,11.35,15.73,19.35,Pug
3,Pug04,23.78,10.53,18.97,23.28,24.09,15.88,21.49,25.88,Pug
4,SpanishGalgo01,12.94,nan,nan,nan,nan,nan,nan,10.40,Spanish Galgo
5,SwedishLapphund01,10.61,nan,nan,nan,nan,nan,nan,nan,Swedish Lapphund
6,Tornjak01,17.10,nan,13.34,14.44,14.70,11.22,13.87,16.94,Tornjak

In [28]:
# move the Breed Name up front
df_pop=df_rm_info['Breed/CommonName']
df_rm_info.drop(columns=['Breed/CommonName'], inplace=True)
df_rm_info.insert(1,'Population', df_pop)
df_rm_info

,samples,Population,_Missing%_chr31,_Missing%_chr32,_Missing%_chr33,_Missing%_chr34,_Missing%_chr35,_Missing%_chr36,_Missing%_chr37,_Missing%_chr38
0,Boxer01,Boxer,37.49,100.00,100.00,100.00,100.00,100.00,100.00,100.00
1,Pug01,Pug,18.26,nan,12.98,14.87,14.17,10.16,14.18,17.31
2,Pug02,Pug,19.43,nan,14.26,16.48,16.06,11.35,15.73,19.35
3,Pug04,Pug,23.78,10.53,18.97,23.28,24.09,15.88,21.49,25.88
4,SpanishGalgo01,Spanish Galgo,12.94,nan,nan,nan,nan,nan,nan,10.40
5,SwedishLapphund01,Swedish Lapphund,10.61,nan,nan,nan,nan,nan,nan,nan
6,Tornjak01,Tornjak,17.10,nan,13.34,14.44,14.70,11.22,13.87,16.94

In [29]:
df_rm_info[['samples', 'Population']].values

array([['Boxer01', 'Boxer'],
       ['Pug01', 'Pug'],
       ['Pug02', 'Pug'],
       ['Pug04', 'Pug'],
       ['SpanishGalgo01', 'Spanish Galgo'],
       ['SwedishLapphund01', 'Swedish Lapphund'],
       ['Tornjak01', 'Tornjak']], dtype=object)

In [30]:
# save these as the samples to be removed
#form new sample map with these samples removed
df_rm_info.to_csv(''.join([osp.join(out_path, 'dogs'),'/delete_samples_frm_d.tsv']) , index=None, sep="\t")

In [31]:
# get the indexes where Sample is in list df_rm_info['samples']
ref_sample_map_e=ref_sample_map_keep[~(ref_sample_map_keep['Sample'].isin(df_rm_info['samples']))].reset_index(drop=True)

In [32]:
ref_sample_map_e

                 Sample         Population Superpopulation code
0         AfghanHound01       Afghan Hound         Afghan Hound
1         AfghanHound03       Afghan Hound         Afghan Hound
2         AfghanHound04       Afghan Hound         Afghan Hound
3     AiredaleTerrier01   Airedale Terrier     Airedale Terrier
4     AiredaleTerrier02   Airedale Terrier     Airedale Terrier
..                  ...                ...                  ...
517            PER00758  Yorkshire Terrier    Yorkshire Terrier
518            PER00777  Yorkshire Terrier    Yorkshire Terrier
519            PER00816  Yorkshire Terrier    Yorkshire Terrier
520  YorkshireTerrier01  Yorkshire Terrier    Yorkshire Terrier
521  YorkshireTerrier02  Yorkshire Terrier    Yorkshire Terrier

[522 rows x 3 columns]

In [33]:
ref_sample_map_e.to_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_e.txt']), index=None, sep="\t", header=None)
ref_sample_map_e.to_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_e.tsv']), index=None, sep="\t")